<div class="modal-header">
    <h3>Register New Bot!</h3>
</div>
<form name="form.botForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <!-- NAME -->
        <div class="form-group">
            <input type="text" name="name" class="form-control" ng-model="name" placeholder="Your Bot Name" required>
            <p ng-show="form.botForm.name.$invalid && !form.botForm.name.$pristine" class="help-block">You name is required.</p>
        </div>

        <!-- USERNAME -->
        <div class="form-group">

            <input type="text" name="desc" class="form-control" ng-model="desc" ng-minlength="3" ng-maxlength="20"
             placeholder= "Describe Your Bot" required>
            <p ng-show="form.botForm.desc.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="form.botForm.desc.$error.maxlength" class="help-block">Username is too long.</p>
        </div>

        <!-- EMAIL -->
        <div class="form-group">
            <select ng-model="language" class="form-control"  ng-options="x for x in languages" required> </select>
            <p ng-show="form.botForm.language.$invalid && !form.botForm.language.$pristine" class="help-block">Plese Select Bot Language</p>
        </div>
        <div class="form-group">
            <select ng-model="template" class="form-control"  ng-options="x for x in templates" required> </select>
            <p ng-show="form.botForm.template.$invalid && !form.botForm.template.$pristine" class="help-block">Select Bot Template</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="form.botForm.$invalid">Create Bot</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>