.botmessage {
  float: left;
  width: 65%;
  padding: 0;
  margin-top: 0;
  background-color: #A7BBEC;
  border-radius: 5px;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 0.9em;
  word-wrap: break-word;
  margin-left: 40px;
}
