<fieldset class="formDiv">
  <legend class="legend">
    Input Field
  </legend>
  <div>
    <button class="btn btn-sm btn-blue-cross fixed " type="submit" style="float:right;"
    (click)="closeForm()">X</button>
    <form>
      <div class="form-group">
        <label class="label">Label</label>
        <input type="text" class="form-control" placeholder="Enter Label"
        [(ngModel)]="data.label" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Name</label>
        <input type="text" class="form-control" placeholder="Enter Name"
        [(ngModel)]="data.name" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Placeholder</label>
        <input type="text" class="form-control" placeholder="Enter placeholder"
        [(ngModel)]="data.placeholder" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Style</label>
        <input type="text" class="form-control" placeholder="Enter style"
        [(ngModel)]="data.styles" name=" ">
      </div>
    </form>
  </div>
</fieldset>

<div *ngIf="showData">
  {{label}}: <input [type]="type" [name]="name" [placeholder]="placeholder" />
</div>
