<!-- START: Modal for  facebook-->
{% load staticfiles %}
<div class="modal fade" id="facebookModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <img src="{% static 'images/facebook_icon.png' %}" style="width:40px;height:40px">
                    <span style="font-size:28px;margin-top:15px!important;"> Facebook</span>
                </div>
            </div>
            <div class="modal-body">
                <div style="overflow:auto;height:200px;">
                    <span>Train your Facebook bots to understand natural language.</span>
                    <p>After you design and test your Bot instance, you can launch your Messenger bot</p>
                    <div>
                        <ul style="padding-left: 30px;">
                            <li>Get your Facebook Page Access Token and insert it in the field below.</li>
                            <li>Create your own Verify Token (can be any string).</li>
                            <li>Click 'START' below.</li>
                            <li>Use the Callback URL and Verify Token to create an event in the Facebook Messenger Webhook Setup.</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h4>Facebook Auth form</h4>
                    <form action="{% url 'facebook_install' botid %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_bot_name">Bot name:</label>
                            <input type="text" class="form-control" name="bot_name" id="id_bot_name" value="{{ facebook_form.bot_name.value}}" required />
                            <label for="id_verify_token">Verify Token:</label>
                            <input type="text" class="form-control" name="verify_token" id="id_verify_token" value="{{ facebook_form.verify_token.value}}" required />
                            <label for="id_page_access_token">Page Access Token:</label>
                            <input type="text" class="form-control" name="page_access_token" id="id_page_access_token" value="{{ facebook_form.page_access_token.value}}" required />
                            <label for="id_request_url">Callback Url: </label>
                            <input disabled type="text" class="form-control" name="request_url" id="id_request_url" value="{{ facebook_targetUrl}}" required />
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" name="submit" type="submit" value="Integrate Facebook" />
                            <button type="button" class="btn btn-default" style="background-color:#e8e8e8;" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: Modal for  facebook-->
