{% load staticfiles %}
<!--START: DIV SECTION FOR facebook-->
<div class="channel" id="facebookChild">
    <div class="channelChild">
        <center><img src="{% static 'images/facebook_icon.png' %}" style="width:70px;height:70px;"></center>
    </div>
    <div class="channelChild">
        <center><strong> Facebook</strong></center>
    </div>
    <div class="channelChild">
        <center>
            <label class="switch">
                  <input type="checkbox" class="switch" id="facebook_switch" data-channel="facebook">
                  <div class="slider round"></div>
                </label>
        </center>
    </div>
    <div class="channelChild settings" data-channel-model="facebookModal" style="display:block;color:#2196F3;cursor:pointer;">
        <center>Settings</center>
    </div>
</div>
<!--END: DIV SECTION FOR facebook-->
