{% extends "base.html" %}


{% block content %}
{% if bot_id %}
<a type="button" class="btn btn-default" href="{% url 'botconfig:home' bot_id  %}">BOT Data</a>
<a type="button" class="btn btn-default" href="{% url 'botconfig:faq_config' bot_id %}">Upload FAQ</a>
{% endif %}


{% endblock %}
