{% extends "base_botconfig.html" %} {% load crispy_forms_tags %} {% load filename %} {% load static %} {% block css %} {{ block.super }}
<link href="{% static 'botconfig/css/botconfig.css' %}" rel="stylesheet" type="text/css" /> {% endblock %} {% block content %} {{ block.super }}
<form id="addfaq" class="form-horizontal" enctype="multipart/form-data" name="faqForm" submit="submitForm()" action="{% url 'botconfig:faq_config'  bot_id %}" method="post">
  {% csrf_token %} {{ faq_form | crispy}}
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% if error %}
<span class="alert alert-error"> {{error}} </span> {% endif %} {% if faqs|length > 0 %}
<table class="bootstrap-table">
  <thead>
    <tr>
      <td> Upload Date </td>
      <td> File Name </td>
      <td> Download </td>
      <td> PUBLISH Date </td>
      <td> PUBLISH </td>
    </tr>
  </thead>
  <tbody>
    {% for faq in faqs %}
    <tr>
      <td>
        {{ faq.date }}
      </td>
      <td>
        {{ faq.faq_file | filename }}
      </td>
      <td>
        <a class="button" href="{{ faq.faq_file.url }}" download> Download </a>
      </td>
      <td>
        <a class="button" href="{% url 'dataset:faq_upload' bot_id faq.id %}"> Publish </a>
      </td>
      <td>
        {% if faq.publish_date %} {{ faq.publish_date }} {% else %} Not Published {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
