{% extends "base_botconfig.html" %}
{% load static %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="{% static 'botconfig/js/home.js' %}"></script>
<script>
  var url = "{% url 'botconfig:bot_data' bot_id %}";
  var delete_question_url = "{% url 'botconfig:delete_question' bot_id %}";
  var save_question_url = "{% url 'botconfig:add_edit_question' bot_id %}";
  var train_url = "{% url 'botconfig:train' bot_id %}"
</script>
{% endblock %}
 {% block css %}
 {{ block.super }}
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="{% static 'botconfig/css/home.css' %}">>


{% endblock %} {% block content%} {{ block.super }}


<div style="float:right">


</div>
<hr style="width:100%">
<div>


</div>
<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}"/>


<table id="botdata" class="display" width="100%" cellspacing="0">

  <thead>
    <tr>
      {% for field in fields %}
      <th>{{ field }}</th>
      {% endfor %}
    </tr>
  </thead>


  <tfoot>
    <tr>
      {% for field in fields %}
      <th>{{ field }}</th>
      {% endfor %}
    </tr>
  </tfoot>
</table>

<div id="dialog-form" title="Add New Question" style="display: none">
    {% include "qa_form.html" %}
</div>
{% if error %}
<div id="error">
<span class="alert alert-error"> {{error}} </span>
</div>
{% endif %}

<div id="dialog-confirm" title="Delete Question?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    Question will be permanently deleted and cannot be recovered. Are you sure?
  </p>
</div>


<div id="dialog-train-confirm" title="Train Bot ?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    Pushed Questions will be reflected in Chat.
  </p>
</div>

<div id="dialog-save-confirm" title="Save Question ?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    Save your changes ?
  </p>
</div>
{% endblock %}
