{% extends "base_botconfig.html" %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript" charset="utf8"
        src="http://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

{% endblock %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
<style type="text/css">
    .nav.sidebar a {
        border-right: 1px solid white;
        padding: 5px 10px;
    }

    .nav.sidebar a.active {
        font-weight: bold;
        background-color: #f0f0f0;
        border-color: #428bca;
    }

    .nav.sidebar li.divider {
        margin: 0.5em;
        border-top: 1px solid #dfdfdf;
    }
</style>
{% endblock %}


{% block content%}


<div style="float:right">


</div>
<hr style="width:100%">
<div>


</div>

<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        {% for field in fields %}
            <th>{{ field }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tfoot>
    <tr>
        {% for field in fields %}
            <th>{{ field }}</th>
        {% endfor %}
    </tr>
    </tfoot>
</table>



{% endblock %}
