{% load crispy_forms_tags %}
<form class="form-horizontal" enctype="multipart/form-data" id="qaForm" name="qaForm" method="post">
    <div class="modal-body">
        <!-- NAME -->
            {% csrf_token %}
            {{ qa_form | crispy}}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-warning" id="cancel">Cancel</button>
    </div>
</form>
