<style>
    .search_item_css:hover
    {
    color:white;
    background-color:#e33044;
    cursor:pointer;
    }
    <!--START:Conversation css-->
    .button-conv {
    background-color: #e33044!important;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}


.modal_ques {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-ques {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close-converse {
     float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-converse:hover,
.close-converse:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header-ques {
    padding: 2px 16px;
    background-color: #e33044!important;
    color: white;
}

.modal-body-ques {padding: 2px 16px;}

.modal-footer-ques {
    padding: 2px 16px;
    background-color: #e33044!important;
    color: white;}
.modal-backdrop {
    /* bug fix - no overlay */
    display: none;
}
.form-group{
    margin-bottom: 0px;
}


<!--END:Conversation css-->

</style>
{% load static %}

<script src="{% static 'js/generate_report.js' %}"></script>
<div>
<!--For Report Section -->

            <div class="panel panel-success" style=" padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
                                                    padding-left: 10px;">

                <div style="font-family: Arial;font-weight: 500;padding-top:10px;padding-bottom: 10px; " id="search_data">

                    <div>
                        <input type="text" style="width:20%" minlength="3" onkeyup="filter_report()" placeholder="Minimum 3 characters required" id="search_text">
                        <img onclick="filter_report_ref()" title="Refresh"  src="{% static 'bower_components/images/refresh_icon.jpg' %}" style="width:35px;height:35px;cursor:pointer;">

                    <div style="float : right;">
                        <b>Additional Columns</b>
                        <select id="add_columns"  onchange="filter_chat_histoy_table()">
                            <option value=0>Add new column</option>
                            <option value=1>User Name</option>
                            <option value=2>Status</option>
                            <option value=3>Feedback Type</option>
                            <option value=4>User Id</option>
                            <option value=5>Session Id</option>
                            <option value=6>Email Id</option>
                        </select>
                    </div>

                    <div style="float : right; padding-right: 20px;">
                         <b>Records per page </b>
                         <select id="records_per_page" name="records_per_page" onchange="filter_report_ref()">
                          <option value="10">10</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                          <option value="500">500</option>
                        </select>
                    </div>
                    </div>
            </div>

            <div id="show_report_hide" style="display:none">
                <p style="font-size:20px"> Please wait, we are processing your request.....</p>
                <img src="{% static 'bower_components/images/loader.gif' %}" width="16" height="16" alt="Processing ... Please wait...." />
            </div>



    <section id="report_section" style="overflow-x:auto">

    <table cellpadding="0" cellspacing="0" border="0" class="tinytable"  id="table">
<thead>
    <tr>
        <th class="nosort" id="user_id"><h3>User Id</h3></th>
        <th class="nosort" id="user_name"><h3>User Name</h3></th>
        <th class="nosort" id="session_id"><h3>Session Id</h3></th>
        <th class="nosort" id="email_id"><h3>Email Id</h3></th>
        <th class="nosort" id="question_header"><h3>Question</h3></th>
        <th class="nosort" id="answer_header"><h3>Answer</h3></th>
        <th class="nosort" id="rank"><h3>Rank</h3></th>
        <th class="nosort" id="date_time"><h3>DateTime</h3></th>
        <th class="nosort" id="status"><h3>Status</h3></th>
        <th class="nosort" id="feedback_type"><h3>Feedback Type</h3></th>
        <th class="nosort" id="feedback"><h3>User Feedback</h3></th>

    </tr>
</thead>
        <tbody>
                {% if result_list %}
                {% for user in result_list %}
                {% for user_data in user.chats%}
                        <tr>
                            <td class="user_id_column">{{ user.user_id }}</td>
                            <td class="username_column">{{ user.username }}</td>
                            <td class="session_id_column">{{ user.session_id }}</td>
                            <td class="email_id_column">{{ user.emailid }}</td>
<!--  <td><a style="cursor:pointer" type="get" href="/learning/{{request.session.bot_details.botid}}/link_learning/?question={{  user_data.request }}">{{ user_data.request }}</a></td>-->
                            <!--{{user.rank}}-->

                            {% if user.rank == "rank5" and user.status == 'Pending' %}
                                <td><a style="cursor:pointer; color:#e33044;" onClick="add_entity_report('{{user.id}}'); return false;" data-toggle="modal" data-target="#histModal">{{ user_data.request }}</a></td>
                                <input type="hidden" name="question" value="{{ user_data.request }}">


                            {% elif user.feedback_msg == "dislike" %}
								{% if user.api_params %}
                                <td>
                                 <!--   <button type="button" onclick="open_conversation('{{user.botid}}','{{user_data.request}}')" data-toggle="modal" data-target="#ReportConversationalModal">check conversation</button>-->
                                    <a href="" onclick="add_conversation({{user.api_params}})" data-toggle="modal" data-target="#ReportConversationalModal">{{ user_data.request }}</a>
                                </td>
                                {% else %}
                             		<td><a style="cursor:pointer; color:#e33044;" onClick="add_entity_report('{{user.id}}'); return false;" data-toggle="modal" data-target="#histModal">{{ user_data.request }}</a></td>
                                	<input type="hidden" name="question" value="{{ user_data.request }}">
								{% endif %}
                            {% else %}
{% if user.api_params %}
                                <td>
                                 <!--   <button type="button" onclick="open_conversation('{{user.botid}}','{{user_data.request}}')" data-toggle="modal" data-target="#ReportConversationalModal">check conversation</button>-->
                                    <a href="" onclick="add_conversation({{user.api_params}})" data-toggle="modal" data-target="#ReportConversationalModal">{{ user_data.request }}</a>
                                </td>
                               {% else %}
                                <td>{{ user_data.request }}</td>
                                <input type="hidden" name="question" value="{{ user_data.request }}">
{% endif %}

                            {% endif %}

                            {% if user.conversation %}
                            <td>
                             <!--   <button type="button" onclick="open_conversation('{{user.botid}}','{{user_data.request}}')" data-toggle="modal" data-target="#ReportConversationalModal">check conversation</button>-->
                                <a href="" onclick="add_conversation({{user.conversation}})" data-toggle="modal" data-target="#ReportConversationalModal">{{ user_data.response }}</a>
                            </td>
                            {% else %}
                            <td>{{ user_data.response }}</td>
                            {% endif %}
                            <td>{{ user.rank | title }}</td>
                            <td class="date_column">{{ user.datetime }}</td>

                            {% if  user.status %}
                            <td class="status_column" >{{ user.status }}</td>
                            {% else %}
                             <td class="status_column" > NIL </td>
                            {% endif %}
                            <td class="feedback_type">{{ user.feedback_type }}</td>
                            {% if  user.feedback_msg %}
                            <td class="feedback_column">{{ user.feedback_msg }}</td>
                            {% else %}
                            <td class="feedback_column"> NIL </td>
                            {% endif %}
                        </tr>
                {% endfor %}
                {% endfor %}
                {% endif %}
  </tbody>
</table>

        {% if result_list.has_other_pages %}
                <ul class="pagination">
                {% if result_list.has_previous %}
                  <li><a onclick='return filter_report(page={{ result_list.previous_page_number }})'>&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in result_list.paginator.page_range %}
                  {% if result_list.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a onclick='return filter_report(page={{ i }})' >{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if result_list.has_next %}
                  <li><a onclick='return filter_report(page={{ result_list.next_page_number }})'>&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
                 </ul>
                {% endif %}

    </section>
         </div>
        </div>


<div class="modal fade" id="histModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Update Response</h4>
                </div>
                <div class="modal-body" >
                     <form name="editEntityForm" action="#" method="post">
                            <div class="form-group">

                            <div>
                                <label for="question" class="form-control-label">Question:</label>
                                <input type="text" class="form-control" id="question">
                                <input type="hidden" class="form-control" id="question_objid_chat">
                            </div>
                            <div>
                                <table width="68%">
                                    <tr>
                                        <td>
                                            <label for="search_text_response" class="form-control-label">Map with:</label>
                                            <input type="text" style="width:146%" autocomplete="off" class="form-control" minlength="3" id="search_text_response" onkeyup="filter_report_map()" placeholder="Minimum 3 characters required" >
                                            <input type="hidden" class="form-control" id="question_entity_id">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="livesearch" style="display:none;  position: absolute;    padding: 5px;    background: silver;height: 300px;overflow: scroll;z-index:999;width:65%;"></div>
                                        </td>
                                    </tr>

                                </table>
                                <div> <label><input type="checkbox" id="notify_user" value="true">  Notify User</label></div>
                            </div>
                              <div id="new_question" class="col-md-12" style="display:none;">

                                        <strong>Category: </strong><br>
                                        <input name='new_category_report' class="form-control" id="new_category_report" type="text" value="">

                                        <input type='radio' id='new_answer' name="url_connect" value="new_answer"> Answer:
                                        <input name='new_answer_report' class="form-control" id="new_answer_report" type="text" value="">



                                        <input type='radio' id='api_connect_report_check' name="url_connect" value="api_report"> API Connect:
                                        <select name='api_connect_report' class="form-control" id="api_connect_report"><option value="select_api">Select API</option></select>


                                        <input type="radio" id="cmd_connect_report_check" name="url_connect" value="cmd_report"> CMD Connect:
                                        <input name="cmd_connect_report" id="cmd_connect_report" class="form-control" type="text" value="">

                                        <input type="radio" id="web_connect_report_check"  name="url_connect" value="web_report"> Web Redirect:
                                        <input name="web_connect_report" id="web_connect_report" class="form-control" type="text" value="">


                               </div>

                            </div>
                     </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button" data-dismiss="modal">Close</button>
                    <button type="button" class="button" onclick="updateResponse()">Save changes</button>
                </div>
      </div>
    </div>
</div>
<!-- Conversational Modal-->
<div id="ReportConversationalModal" class="modal_ques" style="z-index:50;padding-top: 98px;">
    <!-- Modal content -->
    <div class="modal-content-ques">
        <div class="modal-header-ques">
            <span class="close-converse" data-dismiss="modal" onclick="conversation_close()">&times;</span>
            <h4>Conversational Form</h4>
        </div>
        <div class="modal-body-ques" style="height:500px; overflow-x:auto" id="conversational_form">
            <div id="conversation_path">
                <div class="form-group" id="conversation_path_formToggle">
                </div>
            </div>
        </div>
        <div class="modal-footer-ques" style="background-color: #FFF !important; border-top: 3px solid #e33044;">
            <button type="button" class="button-conv"
                    style="background-color: #e33044!important;border: none;color: white;padding: 5px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;border-radius: 15px;"
                    data-dismiss="modal" onclick="conversation_close()">Close
            </button>
            <span id="conversation_update_msg" style="color:#00F; font-weight:bold;"></span>
        </div>
    </div>
</div>
<!--Conversational Modal ends-->


