<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Entellio Report</title>
		<meta name="description" content="Common form elements and layouts" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="shortcut icon" href="{% static 'images/EntellioSmall.png' %}" />
        <!-- bootstrap & fontawesome -->
		<link rel="stylesheet" type='text/css' href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type='text/css' href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'bower_components/css/adoption_report_style.css' %}" />
        <link rel="stylesheet" type='text/css' href="{% static 'bower_components/css/ace.min.css'  %}" class="ace-main-stylesheet" id="main-ace-style" />
        <!-- jquery and common libraries -->
        <script src="{% static 'bower_components/jquery/dist/jquery-3.2.1.min.js'  %}"></script>
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js'  %}"></script>
        <!-- page specific plugins css-->
		<link rel="stylesheet" type='text/css' href="{% static 'bower_components/css/jquery-ui.css'  %}"/>
        <link rel="stylesheet" type='text/css' href="{% static 'bower_components/css/daterangepicker.min.css'  %}" />
        <!-- page specific plugins js-->
        <script src="{% static 'bower_components/jquery/dist/jquery-ui.js'  %}"></script>
        <script src="{% static 'bower_components/support_library/js/Chart.js'%}"></script>
        <script src="{% static 'bower_components/support_library/js/moment.min.js'  %}"></script>
        <script src="{% static 'bower_components/support_library/js/daterangepicker.min.js'  %}"></script>
		<script src="{% static 'bower_components/support_library/js/ace-elements.min.js'  %}"></script>
        <script src="{% static 'bower_components/support_library/js/ace.min.js'  %}"></script>
        <!-- Custom Css files -->
        <link rel="stylesheet" href="{% static 'css/reports.css' %}"/>
        <script>
        window.botId = '{{botid}}';
        </script>
         <!--Custom Js files -->
        <script src="{% static 'js/reports.js' %}"></script>
        <script src="{% static 'js/generate_report.js' %}"></script>
    </head>
   <body class="no-skin">
   <div id="clear_chat_alert_msg" title="Message" ></div>
    <input type="hidden" id="hostname" value="{{ request.get_host }}">
    {% include "bot_header.html" %}

     <div class="input-group" style="margin-top: 25px;">
        <span class="input-group-addon">
        <i class="fa fa-calendar bigger-110"></i>
        </span>
        <input class="form-control" type="text" name="date-range-picker" id="date_text" style="width: 25%;"/>

         <button class="btn btn-info"  style="background: #e33044!important; width:20%;  margin-left: 10px; height: 2.4em;"
                 type="button" id="generate_report" onclick="reports_display()" >Generate Report</button>

         <button class="btn btn-info" style="background: #e33044!important;  margin-left: 10px; width:20%; height: 2.4em;"
                  id="printExportRecord" type="button" onclick="printExportRecord()">
                  <i class="ace-icon fa fa-check bigger-110"></i> Export to Excel  </button>

         <button  class="btn btn-info"  style="background: #e33044!important;  margin-left: 10px; width:20%; height: 2.4em;"
          type="button" id="chat_history_clear"  value="Clear Chat History" >Clear Chat History</button>

    </div>

    <!--<div>-->

    <!--<b style="margin-left:10px"> Total no. of sessions:</b>{{session_no}}-->
    <!--<b style="margin-left:10px">Processed time:</b>  {{processed_time_min.0}} mins  {{processed_time_min.1}} secs-->

    <!--</div>-->


    <script type="text/javascript">
        try{ace.settings.loadState('main-otherer')}catch(e){}
    </script>


    <div class="main-content">
        <div class="main-content-inner">
           <div class="page-content">
              <!-- Graph section -->
              <div class="panel panel-success">
                  <div id="bar_chart" style="width:50%;float:right">
                          <div id="histogramGraph"style="display: none;">
                            <canvas id="histogram" width="500" height="200" ></canvas>
                        </div>
                  </div>
                  <div id="line_chart_1" style="width:50%">
                      <div id="divGraph"style="display: none;">
                        <canvas id="line_graph" width="500" height="200" ></canvas>
                    </div>
                  </div>
              </div>
           </div>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="widget-header" style = "margin-top : 1em; margin-bottom : 1em">
                    <h4 class="widget-title"> Chat History of BOT >>  {{botid|upper}} </h4>
                    <span class="widget-toolbar">
                        <a href="#" data-action="collapse" id="open_report">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </span>
                </div>

                <div id="show_report">
                    {% include "report_hr.html" %}
                </div>
                <div class="widget-header" style = "margin-top : 3em; margin-bottom : 1em">
                    <h4 class="widget-title"> Frequently Discussed Queries </h4>
                    <span class="widget-toolbar">
                        <a href="#" data-action="collapse" id="open_top_questions">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </span>
                </div>
                <div id="top_questions">
                    {% include "top_questions.html" %}
                </div>
            </div>
        </div>
    </div>


    <div class="widget-box collapsed">
        <div id="process_load" style="display:none;text-align:center">
            <p style="font-size:20px"> Please wait, we are processing your request.....</p>
            <img src="{% static 'bower_components/images/loader.gif' %}" width="16" height="16" alt="Processing ... Please wait...." />
        </div>
    </div>

    </body>
</html>

