{% load static %}
<div>
<div class="panel panel-success" style=" padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
                                                    padding-left: 10px;">

            <table cellpadding="0" cellspacing="0" border="0" class="tinytable"  id="table">
                <thead>
                    <tr>
                        <th class="nosort"><h3>User Input</h3></th>
                        <th class="nosort"><h3>Bot's Response</h3></th>
                        <th class="nosort"><h3>No. of times asked</h3></th>
                    </tr>
                </thead>
                <tbody>
                {% if top_questions_list %}
                    {% for item in top_questions_list %}
                <tr>
                    <td>{{item.input }}</td>
                    <td>{{item.output }}</td>
                    <td>{{item.total }}</td>
                </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
</div>
</div>