<div class="border">
  <div *ngFor="let listdata of data; let i=index; let last=last">
  <fieldset class="formDiv">
    <legend class="legend">
      Dropdown Field
    </legend>
    <div>
      <button class="btn btn-sm btn-blue-cross fixed " type="submit" style="float:right;"
      (click)="closeItemForm(i)">X</button>
      <form>
        <div class="form-group">
          <label class="label">Value</label>
          <input type="text" class="form-control" placeholder="Enter Value"
          [(ngModel)]="listdata.value" name=" ">
        </div>
        <div class="form-group">
          <label class="label">Content</label>
          <input type="text" class="form-control" placeholder="Enter Content"
          [(ngModel)]="listdata.content" name=" ">
        </div>
        <div class="form-group">
          <label class="label">Style</label>
          <input type="text" class="form-control" placeholder="Enter style"
          [(ngModel)]="listdata.styles" name=" ">
        </div>
      </form>
    </div>
  </fieldset>
  <div *ngIf="last">
    <button type="button" (click)="addComponent(i)"
    class="btn btn-default center">Add Item</button>
  </div>
</div>
</div>
