<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>Configuration</title>
    <meta name="description" content="Common form elements and layouts"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="shortcut icon" href="{% static 'images/EntellioSmall.png' %}"/>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" type='text/css' href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type='text/css' href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/css/adoption_report_style.css' %}"/>
    <!-- jquery and common libraries -->
    <script src="{% static 'bower_components/jquery/dist/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- page specific plugins css-->
    <link href="{% static 'plugins/css/imageuploadify.min.css' %}" rel="stylesheet">
    <!-- page specific plugins js-->
    <script src="{% static 'plugins/js/imageuploadify.min.js' %}"></script>
    <script src="{% static 'plugins/js/clipboard.min.js'  %}"></script>
    <!-- Custom Css files -->
    <link rel="stylesheet" href="{% static 'bower_components/css/help-doc.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bot_config.css' %}"/>
    <script>
        window.botId = '{{botid}}';
    </script>
    <!-- Custom Js files -->
    <script src="{% static 'js/bot_config.js' %}"></script>
</head>
<body>
<div id="validateCards" class="validateCards" style="display:none">
</div>
<div id="page_body">
    {% include "bot_header.html" %}
    <nav class="navbar config-header" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float:right">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#home" data-toggle="tab">Configuration</a>
                    </li>
                    <li>
                        <a href="#menu1" onclick="loadGallery()" id="tab-images" data-toggle="tab">Images</a>
                    </li>
                    <li>
                        <a href="#menu2" id="tab-videos" data-toggle="tab">Videos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="tabs-container">

        <div class="container tab-content tabs-div">
            <div id="home" class="tab-pane fade in active">
                <form id="uploadFiles">
                    <div class="header"><h4 align=centre">Configuration Details</h4></div>
                    <div class="form-fields">
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label for="id_bot_number_of_questions">Number of suggestions:</label></div>
                            <div class="col-sm-3">
                                <select id="id_bot_number_of_questions" name="bot_number_of_questions"
                                        class="form-control">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select></div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label class="required" for="id_bot_percent_match">% match for suggestions:</label></div>
                            <div class="col-sm-3">
                                <select id="id_bot_percent_match" name="bot_percent_match" class="form-control">
                                    <option value="0.1">10%</option>
                                    <option value="0.2">20%</option>
                                    <option value="0.3">30%</option>
                                    <option value="0.4">40%</option>
                                    <option value="0.5">50%</option>
                                    <option value="0.6">60%</option>
                                    <option value="0.7">70%</option>
                                    <option value="0.8">80%</option>
                                    <option value="0.9">90%</option>
                                    <option value="1.0">100%</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label class="required" for="id_feedback_choice">Feedback Type:</label></div>
                            <div class="col-sm-3">
                                <select id="id_feedback_choice" name="feedback_type" class="form-control">
                                    <option value="thumbs">thumbs</option>
                                    <option value="star">star</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label class="vCheckboxLabel" for="id_is_guest_user_allowed">Is guest user
                                    allowed:</label></div>
                            <div class="col-sm-2">
                                <input id="id_is_guest_user_allowed" name="is_guest_user_allowed" type="checkbox"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label class="vCheckboxLabel" for="id_is_public">Is Public:</label></div>
                            <div class="col-sm-2">
                                <input id="id_is_public" name="is_public" type="checkbox" class="form-control">
                            </div>
                        </div>
                        <!--<div class="form-group col-sm-12">-->
                            <!--<div class="col-sm-3">-->
                                <!--<label class="vCheckboxLabel" for="id_star_rating">Star Rating:</label></div>-->
                            <!--<div class="col-sm-1">-->
                                <!--<input id="id_star_rating" name="star_rating" type="checkbox" class="form-control">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label class="vCheckboxLabel" for="id_live_agent">Live Agent:</label></div>
                            <div class="col-sm-2">
                                <input id="id_live_agent" name="live_agent" type="checkbox" class="form-control">
                            </div>
                        </div>
                        <!--<div class="form-group col-sm-12">-->
                            <!--<div class="col-sm-3">-->
                                <!--<label class="vCheckboxLabel" for="id_show_bot_api_only">Show Bot Api Only:</label>-->
                            <!--</div>-->
                            <!--<div class="col-sm-1">-->
                                <!--<input id="id_show_bot_api_only" name="show_bot_api_only" type="checkbox"-->
                                       <!--class="form-control">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label class="vCheckboxLabel" for="spell_check">Spell Check:</label></div>
                            <div class="col-sm-2">
                                <input id="spell_check" name="spell_check" type="checkbox" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label class="vCheckboxLabel" for="math_exp">Math Expression:</label></div>
                            <div class="col-sm-2">
                                <input id="math_exp" name="math_exp" type="checkbox" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label class="vCheckboxLabel" for="wikipedia">Wikipedia:</label></div>
                            <div class="col-sm-2">
                                <input id="wikipedia" name="wikipedia" type="checkbox" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label class="matrix_match" for="matrix_match">Matrix match:</label></div>
                            <div class="col-sm-2">
                                <input id="matrix_match" name="matrix_match" type="checkbox" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label class="exact_match" for="exact_match">Exact match:</label></div>
                            <div class="col-sm-2">
                                <input id="exact_match" name="exact_match" type="checkbox" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label class="word2vec" for="word2vec">Word2Vec:</label></div>
                            <div class="col-sm-2">
                                <input id="word2vec" name="word2vec" type="checkbox" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label for="id_bot_js">Bot JS:</label>
                            </div>
                            <div class="col-sm-3" id="divForJsFile">
                                <input id="id_bot_js" name="bot_js" type="file"/>
                            </div>
                            <div class="col-sm-3" id="divForJsLink">
                                <a id="js_file" class="btn primary" href ="" download title="Click to Download"></a>
                            </div>
                            <div class="col-sm-2">
                                <input type="button" class="btn btn-info" id="change_js" onclick="changeJs()" value="Change">
                            </div>
                            <div class="col-sm-1">
                                <input type="button" class="btn btn-info" id="remove_js" onclick="removeJs()" value="Remove">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-sm-3">
                                <label for="id_bot_css">Bot CSS:</label>
                            </div>
                            <div class="col-sm-3" id="divForCssFile">
                                <input id="id_bot_css" name="bot_css" type="file"/>
                            </div>
                            <div class="col-sm-3" id="divForCssLink" style="padding-top :0px;">
                                <a id="css_file" class="btn primary" href="" download ></a>
                            </div>
                            <div class="col-sm-2">
                                <input type="button" class="btn btn-info" id="change_css" onclick="changeCss()" value="Change">
                            </div>
                            <div class="col-sm-1">
                                <input type="button" class="btn btn-info" id="remove_css" onclick="removeCss()" value="Remove">
                            </div>
                        </div>
                    </div>
                    <div class="footer col-sm-12">
                        <input class="button form-control" id="formsubmit" onclick="saveConfigDetails()" type="button" value="Save">
                    </div>
                </form>
            </div>
            <div id="menu1" class="tab-pane fade menu1">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a data-toggle="pill" href="#imgupload">Upload</a></li>
                    <li><a data-toggle="pill" href="#imggallery">Gallery</a></li>
                </ul>
                <div class="tab-content tab-gallery">
                    <div id="imgupload" class="tab-pane fade in active upload">
                        <form id="uploadImages">
                            <input id="id_bot_image" name="bot_images" type="file" accept="image/*" multiple>
                            <div class="footer col-sm-12">
                                <input class="button form-control" id="imagesubmit" onclick="saveImages()" type="button" value="Upload">
                            </div>
                        </form>
                    </div>
                    <div id="imggallery" class="tab-pane fade gallery">
                        <div style="width:unset!important" class="htmlgallery" data-skin="darkness"
                             id="image_id" data-width="480" data-height="272">
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade menu2">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a data-toggle="pill" href="#vidupload">Upload</a></li>
                    <li><a data-toggle="pill" href="#vidgallery">Gallery</a></li>
                </ul>
                <div class="tab-content tab-gallery">
                    <div id="vidupload" class="tab-pane fade in active upload">
                        <form id="uploadVideos">
                            <input id="id_bot_video" name="bot_videos" type="file" accept="video/*" multiple>
                            <div class="footer col-sm-12">
                                <input class="button form-control" id="videosubmit" onclick="saveVideos()" type="button" value="Upload">
                            </div>
                        </form>
                    </div>
                    <div id="vidgallery" class="tab-pane fade gallery">
                        <div style="width:unset!important" class="html5gallery" data-skin="darkness"
                             id="video_id" data-width="480" data-height="272">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>