{% extends "base.html" %}
{% load avatar_tags %}
{% load static %}

  {% block title %} Chat {% endblock %}
  {% block baseurl %}
    <base href="/ngapp/chat/">
  {% endblock %}

{% block content %}
<script>
window.bot_info = {data:{{bots|safe}}};
window.user_image = '{% avatar_url user 30 %}';
</script>

<app-root></app-root>

<script type="text/javascript" src="inline.bundle.js"></script><script type="text/javascript" src="polyfills.bundle.js"></script><script type="text/javascript" src="styles.bundle.js"></script><script type="text/javascript" src="vendor.bundle.js"></script><script type="text/javascript" src="main.bundle.js"></script>
{% endblock %}
