body {
  padding-top: 60px;
}

#allparameters, #allheaders, #authentication {
  display: none;
}

#ajaxspinner {
  display: none;
}

#urlvalue {
	width: 400px;
}

#outputpre {
  min-height: 350px;
  font-size: 85%;
}

#headerpre {
  min-height: 100px;
  font-size: 85%;
}

.content-page{
  margin-left: 240px;
  overflow: hidden;
  margin-right: 0px;
}
