<!-- START: Modal for  twitter-->
{% load staticfiles %}
<div class="modal fade" id="twitterModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <img src="{% static 'images/twitter_icon.png' %}" style="width:40px;height:40px">
                    <span style="font-size:28px;margin-top:15px!important;"> Twitter</span>
                </div>
            </div>
            <div class="modal-body">
                <div style="overflow:auto;height:200px;">
                    <span>Train your Twitter bots to understand natural language.</span>
                    <p>When your Bot instance is ready, follow these instructions to connect it to a Twitter Channel:</p>
                    <div>
                        <ul>
                            <li>In <a href="https://apps.twitter.com/" target="_blank">Twitter Application Management</a>, click ‘Create new App’ and fill in all the fields.</li>
                            <li>In the 'Permissions' tab, select 'Read, Write and Access direct messages' in the 'Access' area and click 'Update Settings'.</li>
                            <li>In the 'Key and Access Tokens' tab, click the 'Create my access token' button.</li>
                            <li>Enter the Bot Username in the respective field below.</li>
                            <li>From the 'Key and Access Tokens' tab, copy Consumer Key, Consumer Secret, Access Token, and Access Token Secret and paste in the respective fields below.</li>
                            <li>Click ‘START’.</li>
                        </ul>
                    </div>
                </div>

                <div>
                    <h4>Twitter Auth form</h4>
                    <form action="{% url 'twitter_install' botid %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_bot_name">Bot name:</label>
                            <input type="text" class="form-control" name="bot_name" id="id_bot_name" value="{{ twitter_form.bot_name.value}}" required />
                            <label for="id_consumer_key">Consumer Key:</label>
                            <input type="text" class="form-control" name="consumer_key" id="id_consumer_key" value="{{ twitter_form.consumer_key.value}}" required />
                            <label for="id_consumer_secret">Consumer Secret:</label>
                            <input type="text" class="form-control" name="consumer_secret" id="id_consumer_secret" value="{{ twitter_form.consumer_secret.value}}" required />
                            <label for="id_access_token">Access Token:</label>
                            <input type="text" class="form-control" name="access_token" id="id_access_token" value="{{ twitter_form.access_token.value}}" required />
                            <label for="id_access_token_secret">Access Token Secret:</label>
                            <input type="text" class="form-control" name="access_token_secret" id="id_access_token_secret" value="{{ twitter_form.access_token_secret.value}}" required />
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" name="submit" type="submit" value="Integrate Twitter" />
                            <button type="button" class="btn btn-default" style="background-color:#e8e8e8;" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: Modal for  twitter-->
