{% load staticfiles %}
<!--START: DIV SECTION FOR twitter-->
<div class="channel" id="twitterChild">
    <div class="channelChild">
        <center><img src="{% static 'images/twitter_icon.png' %}" style="width:70px;height:70px;"></center>
    </div>
    <div class="channelChild">
        <center><strong> Twitter</strong></center>
    </div>
    <div class="channelChild">
        <center>
            <label class="switch">
                  <input type="checkbox" class="switch" id="twitter_switch" data-channel="twitter">
                  <div class="slider round"></div>
                </label>
        </center>
    </div>
    <div class="channelChild settings" data-channel-model="twitterModal" style="display:block;color:#2196F3;cursor:pointer;">
        <center>Settings</center>
    </div>
</div>
<!--END: DIV SECTION FOR twitter-->
