<fieldset class="formDiv">
  <legend class="legend">
    Text Field
  </legend>
  <div>
    <button class="btn btn-sm btn-blue-cross fixed " type="submit" style="float:right;" (click)="closeForm()">X</button>
    <form>
      <div class="form-group">
        <label class="label">Text</label>
        <input type="text" class="form-control" placeholder="Enter Text Value" [(ngModel)]="data.text" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Style</label>
        <input type="text" class="form-control" placeholder="Enter style"
        [(ngModel)]="data.styles" name=" ">
      </div>
    </form>
  </div>
</fieldset>
