{% load staticfiles %}
<div class="modal fade" id="skypeModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <img src="{% static 'images/skype_icon.png' %}" style="width:40px;height:40px">
                    <span style="font-size:28px;margin-top:15px!important;">Skype</span>
                </div>
            </div>
            <div class="modal-body">
                <div style="overflow:auto;height:300px;">
                    <div style="width:95%;">
                        <div class="description">Build a conversational bot for Skype.</div>

                        <div class="description">
                            <p>When your Bot agent is ready, follow these instructions to integrate it with your Skype bot:</p>
                            <ul>
                                <li>Create a new bot in the <a href="https://dev.botframework.com/bots/new" target="_blank">Microsoft Bot Framework</a>.</li>
                                <li>Fill in the Name, Bot handle, and Description fields in the Bot profile section.</li>
                                <li>Copy the Request URL below and insert it to the ‘Messaging endpoint’ field in the Configuration section in the Skype bot settings.</li>
                                <li>In the same section, click ‘Create Microsoft App ID and password’ button.</li>
                                <li>Copy the generated password and the App ID from your Skype bot settings to the respective fields below.</li>
                                <li>Complete the Skype bot registration by filling in the Publisher profile section and clicking Register.</li>
                                <li>Click ‘START’.</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div>
                    <h4>Skype Auth form</h4>
                    <form action="{% url 'skype_install' botid %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_bot_name">Bot name:</label>
                            <input type="text" class="form-control" name="bot_name" id="id_bot_name" value="{{ skype_form.bot_name.value}}" required />
                            <label for="id_app_id">Microsoft App id:</label>
                            <input type="text" class="form-control" name="app_id" id="id_app_id" value="{{ skype_form.app_id.value}}" required />
                            <label for="id_app_password">Microsoft App Password:</label>
                            <input type="text" class="form-control" name="app_password" id="id_app_password" value="{{ skype_form.app_password.value}}" required />
                            <label for="id_request_url">Callback Url: </label>
                            <input disabled type="text" class="form-control" name="request_url" id="id_request_url" value="{{ skype_targetUrl}}" required />

                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" name="submit" type="submit" value="Add to Skype" />
                            <button type="button" class="btn btn-default" style="background-color:#e8e8e8;" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
