{% load staticfiles %}
<!--START: DIV SECTION FOR SKYPE-->
<div class="channel" id="skypeChild">
    <div class="channelChild">
        <center><img src="{% static 'images/skype_icon.png' %}" style="width:70px;height:70px;"></center>
    </div>
    <div class="channelChild">
        <center><strong>Skype</strong></center>
    </div>
    <div class="channelChild">
        <center>
            <label class="switch">
                  <input type="checkbox" class="switch" id="skype_switch" data-channel="skype">
                  <div class="slider round"></div>
                  </label>
        </center>
    </div>
    <div class="channelChild settings" data-channel-model="skypeModal" style="display:block;color:#2196F3;cursor:pointer;">
        <center>Settings</center>
    </div>
</div>
<!--END: DIV SECTION FOR SKYPE-->
