<!-- START: Modal for  line-->
{% load staticfiles %}
<div class="modal fade" id="lineModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <img src="{% static 'images/line_icon.png' %}" style="width:40px;height:40px">
                    <span style="font-size:28px;margin-top:15px!important;"> Line</span>
                </div>
            </div>
            <div class="modal-body">
                <div style="overflow:auto;height:200px;">
                    <span>Train your Line bots to understand natural language.</span>
                    <p>When your Bot instance is ready, follow these instructions to connect it to a LINE Channel:</p>
                    <div>
                        <ul style="padding-left: 30px;">
                            <li>If you don’t have a LINE@ account, <a href="https://developers.line.me/messaging-api/getting-started#create_lineat" target="_blank">create a LINE@ account with the Messaging API enabled</a>.</li>
                            <li>If you already have a LINE@ account, <a href="https://developers.line.me/messaging-api/getting-started#apply_messagingapi" target="_blank">enable Messaging API for your LINE@ account</a>.</li>
                            <li>In the <a href="http://admin-official.line.me/" target="_blank">LINE@ Manager</a>, go to Settings &gt; Bot Settings from the left side menu.</li>
                            <li>On the Bot Settings page, in the ‘Request Settings’ section, set ‘Allow’ for ‘Use webhooks’.</li>
                            <li>Go to your LINE@ account page in the <a href="https://business.line.me/" target="_blank">LINE Business Center</a>.</li>
                            <li>In the ‘Messaging API’ section, click ‘LINE Developers’ to go to the Channel Console.</li>
                            <li>Copy Channel ID and Channel Secret and paste into the respective fields below.</li>
                            <li>Click ‘ISSUE’ for the ‘Channel access token’ item and paste its value to the respective field below.</li>
                            <li>Click ‘EDIT’ and set the Webhook URL for your Channel by copying and pasting its value from the field below. Then click ‘SAVE’ and ‘VERIFY’.</li>
                            <li>Click the ‘START’ button below.</li>
                        </ul>
                    </div>
                </div>

                <div>
                    <h4>Line Auth form</h4>
                    <form action="{% url 'line_install' botid %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_bot_name">Bot name:</label>
                            <input type="text" class="form-control" name="bot_name" id="id_bot_name" value="{{ line_form.bot_name.value}}" required />
                            <label for="id_channel_id">Channel Id:</label>
                            <input type="text" class="form-control" name="channel_id" id="id_channel_id" value="{{ line_form.channel_id.value}}" required />
                            <label for="id_channel_secret">Channel Secret:</label>
                            <input type="text" class="form-control" name="channel_secret" id="id_channel_secret" value="{{ line_form.channel_secret.value}}" required />
                            <label for="id_channel_access_token">Channel Access Token:</label>
                            <input type="text" class="form-control" name="channel_access_token" id="id_channel_access_token" value="{{ line_form.channel_access_token.value}}" required />
                            <label for="id_request_url">Callback Url: </label>
                            <input disabled type="text" class="form-control" name="request_url" id="id_request_url" value="{{ line_targetUrl}}" required />
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" name="submit" type="submit" value="Integrate Line" />
                            <button type="button" class="btn btn-default" style="background-color:#e8e8e8;" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: Modal for  line-->
