{% load staticfiles %}
<!--START: DIV SECTION FOR line-->
<div class="channel" id="lineChild">
    <div class="channelChild">
        <center><img src="{% static 'images/line_icon.png' %}" style="width:70px;height:70px;"></center>
    </div>
    <div class="channelChild">
        <center><strong> Line</strong></center>
    </div>
    <div class="channelChild">
        <center>
            <label class="switch">
                  <input type="checkbox" class="switch" id="line_switch" data-channel="line">
                  <div class="slider round"></div>
                </label>
        </center>
    </div>
    <div class="channelChild settings" data-channel-model="lineModal" style="display:block;color:#2196F3;cursor:pointer;">
        <center>Settings</center>
    </div>
</div>
<!--END: DIV SECTION FOR line-->
