{% load static %}




<html>
<head>
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
</head>
<table id="reportdata" class="display" width="100%" cellspacing="0">

  <thead>
    <tr>
      {% for field in fields %}
      <th>{{ field }}</th>
      {% endfor %}
    </tr>
  </thead>
  

  <tfoot>
    <tr>
      {% for field in fields %}
      <th>{{ field }}</th>
      {% endfor %}
    </tr>
  </tfoot>
</table>
</html>

{% block javascript %}
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="{% static 'repor/js/re.js' %}"></script>
<script>
  var url = "{% url 'repor:chat_data' 1  %}";
</script>

{% endblock %}
