<button type="button" class="btn btn-primary" (click)="openForm($event)">config</button>

<hr>

<div class="container" *ngIf="formToggle">
  <form action="">

    <label for="uname">User Name</label><br />
    <input type="text" id="fname" name="firstname" placeholder="Your user name is.."><br />

    <label for="password">Password</label><br />
    <input type="password" id="lname" name="lastname" placeholder="Your password is.."><br />

    <label for="url">URL</label><br />
    <input type="text" id="lname" name="lastname" placeholder="Url"><br />

    <input type="submit" value="Submit">

  </form>
</div>


<div *ngIf="show" id="ng-chat-people" [ngClass]="{'ng-chat-people-collapsed':isCollapsed}">
  <div>
    <a href="javascript:void(0);" class="ng-chat-title shadowed"
    (click)="onChatTitleClicked($event)">
    <span style="color: white;"><b>Your Bots</b></span>
    </a>
  </div>
  <ul id="ng-chat-users" *ngIf="!isCollapsed">
    <li *ngFor="let user of bots" (click)="openChatWindow(user, true)">
      <div *ngIf="!user.avatar" class="icon-wrapper">
        <i class="user-icon"></i>
      </div>

      <img alt="" class="avatar" height="30" width="30" [src]="user.avatar">
      <strong [title]="user.displayName">{{ user.displayName}}</strong>
      <span class="ng-chat-user-status online" title="{{ user.status }}"></span>

    </li>
  </ul>
</div>

<div [style.width.px]='width' [style.height.px]='height'
*ngFor="let window of windows; let i = index"
[ngClass]="{'ng-chat-window': true, 'ng-chat-window-collapsed': window.isCollapsed}"
  [ngStyle]="{'right': friendsListWidth + 20 + windowSizeFactor * i + 'px'}">
  <div *ngIf="window.isCollapsed">
    <div class="ng-chat-title" (click)="onChatWindowClicked(window)">
      <strong style="color: white;" title="{{window.chattingTo.displayName}}">
                {{window.chattingTo.displayName}}
            </strong>

      <span *ngIf="unreadMessagesTotal(window).length > 0"
        class="ng-chat-unread-messages-count">{{unreadMessagesTotal(window)}}</span>
      <div class="titleIcon">
        <img src="assets/notification.png" (click)="onNotificationChatWindow()"
        alt="" class="titleIconSpeaker">
        <img src="assets/speaker.png" (click)="onSpeakerChatWindow()" alt=""
        class="titleIconSpeaker">
        <a href="javascript:void(0);" class="ng-chat-close"
        (click)="onCloseChatWindow(window)" class="titleIconCancle">X</a>
      </div>
    </div>
  </div>


  <ng-container *ngIf="!window.isCollapsed">
    <div (mousedown)='onCornerClick($event, topLeftResize)'
    id="chat-corner-resize" class="ng-chat-title" (click)="onChatWindowClicked(window)">


      <strong style="color: white;" title="{{window.chattingTo.displayName}}">
                {{window.chattingTo.displayName}}
            </strong>

      <span *ngIf="unreadMessagesTotal(window).length > 0"
        class="ng-chat-unread-messages-count">{{unreadMessagesTotal(window)}}</span>
      <div class="titleIcon">

        <img src="assets/notification.png" alt=""
        class="titleIconSpeaker" (click)="onNotificationChatWindow()">
        <img src="assets/speaker.png" alt=""
        class="titleIconSpeaker" (click)="onSpeakerChatWindow()">
        <a href="javascript:void(0);" class="ng-chat-close"
        (click)="onCloseChatWindow(window)" class="titleIconCancle">X</a>
      </div>
    </div>
    <div #chatMessages class="ng-chat-messages">
      <div *ngIf="window.isLoadingHistory" class="ng-chat-loading-wrapper">
        <div class="loader">Loading history...</div>
      </div>

      <div *ngFor="let message of window.messages; let i = index; let last=last;"
      [ngClass]="{'ng-chat-message': true, 'ng-chat-message-received': message.fromId != userId}">

        <div *ngIf="message.fromId == userId">
          <img [src]="user_image" width="30" height="30" class="img-circle" id="user_base_avatar" />
          <span class="usermessage" [innerHtml]="message.message"></span>
          <div *ngIf="last" class='spn_hol'>
            <div class='spinner'>
                <div class='bounce1'></div>
                <div class='bounce2'></div>
                <div class='bounce3'></div>
            </div>
          </div>
        </div>

        <div *ngIf="window.chattingTo.avatar && isAvatarVisible(window, message, i)">
        <img alt="" class="avatar" height="30" width="30" [src]="window.chattingTo.avatar" />
        <app-html-message [bot_message]="message.message"></app-html-message>
        </div>

      </div>
    </div>
    <input #chatWindowInput [ngModel]="window.newMessage "
    (ngModelChange)="window.newMessage=$event" type="text"
    (keydown)="onChatInputTyped($event, window)"
     (blur)="toggleWindowFocus(window)" (focus)="toggleWindowFocus(window)" />
  </ng-container>

</div>
