/* These styles are generated from project.scss. */

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.compelte-hide{
    display: none;
}


button.ui-dialog-titlebar-close:before {
    content: ' \2716';
    color: rgb(56, 65, 76);
    top: -2px;
    left: 3px;
    position: absolute;
}
