{% load crispy_forms_tags %}
<form class="form-horizontal" enctype="multipart/form-data" name="botForm" submit="submitForm()" action="{% url 'registration:bots-registration' %}" method="post">
    <div class="modal-body">
        <!-- NAME -->
            {% csrf_token %}
            {{ bot_form | crispy}}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Create Bot</button>
        <button class="btn btn-warning" id="cancel">Cancel</button>
    </div>
</form>
