{% extends "reg_base.html" %}
{% load static %}
{% block content %}

<div>
    <ul class="bot-row card-list" >
        <li class="bot-cell">
            <div class="box">
                <div class="title"><h3 align="center">Create Bot</h3>
                </div>
                <div class="addbtn">
                    <a id='create-bot'><img  id="addbot" width="50px" height="50px" src="{% static 'registration/img/addbot.png' %}" alt="add"></a>
                </div>
            </div>
            </li>
            {% for bot in bots %}
                        <li class="bot-cell">
                            <div class="bot-card card">
                                <div class="card__header">
                                    <div class="card__avatar">
                                        <img src={{bot.image.url}} alt="">
                                    </div>
                                    <div class="card__id">
                                        <div class="card__name"><b>Bot Id:</b> {{bot.id}}</div>
                                        <div class="card__actions">
                                            <a href="{% url 'chat:chat-bot' bot.id %}" class="waves-effect"><i class="md md-chat "></i> </a>
                                            <a href="{% url 'botconfig:home' bot.id %}" class="waves-effect"><i class="md  md-settings "></i>  </a>
                                            <a data-href="{% url 'botconfig:copy' bot.id %}"  class="waves-effect copy"><i class="md md-content-copy"></i>  </a>
                                            <a href="{% url 'botconfig:report' bot.id %}" class="waves-effect"><i class="md  md-view-agenda"></i>  </a>
                                            <a data-href="{% url 'botconfig:delete' bot.id %}" class="waves-effect delete"><i class="md md-delete"></i>  </a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="card__infos">
                                    <li>Bot Name : {{bot.name}}</li>
                                    <li>Bot Desc: {{bot.desc}}</li>
                                </ul></div>
                        </li>
            {% endfor %}
            {% for d in dummy_cells %}
              <li class="bot-cell"> </li>
            {% endfor %}
    </ul>

</div>
<div id="dialog-form" title="Create new Bot" style="display: none">
    {% include "bot_form.html" %}
</div>
{% if error %}
<div id="error">
<span class="alert alert-error"> {{error}} </span>
</div>
{% endif %}

<div id="dialog-confirm" title="Delete Bot?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    Bot will be permanently deleted and cannot be recovered. Are you sure?
  </p>
</div>

<div id="dialog-copy-confirm" title="Copy Bot?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    New copy of Bot will Created. Are you sure to proceed ?
  </p>
</div>
{% endblock %}


{% block rightbar %}
<!-- Right Sidebar -->
<div class="side-bar right-bar nicescroll">
    <h4 class="text-center">Chat</h4>
    <div class="contact-list nicescroll">
        <ul class="list-group contacts-list">
          {% for bot in bots %}
            <li class="list-group-item">
                <a href="{% url 'chat:chat-bot' bot.id %}">
                    <div class="avatar">
                        <img src="{{bot.image.url}}" alt="">
                    </div>
                    <span class="name">{{bot.name}}</span>
                    <i class="fa fa-circle online"></i>
                </a>
                <span class="clearfix"></span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- /Right-bar -->
{% endblock %}
