{% extends "base.html" %}
{% load static i18n compress%}

{% block css %}
{{ block.super }}
    <link href="{% static 'registration/css/cards.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'registration/css/normalize.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'registration/css/bot_grid.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'registration/css/registration.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript" charset="utf8" src="{% static 'registration/js/registration.js' %}"></script>
{% endblock %}
