<div class="border">
  <div *ngFor="let listdata of data; let i=index; let last=last">
    <fieldset class="formDiv">
      <legend class="legend">
        CheckList Field
      </legend>
      <div>
        <button class="btn btn-sm btn-blue-cross fixed " type="submit" style="float:right;"
         (click)="closeItemForm(i)">X</button>
        <form>
          <div class="form-group">
            <label class="label">Name</label>
            <input type="text" class="form-control" placeholder="Enter Name"
             [(ngModel)]="listdata.name" name=" ">
          </div>
          <div class="form-group">
            <label class="label">Value</label>
            <input type="text" class="form-control" placeholder="Enter Value"
             [(ngModel)]="listdata.value" name=" ">
          </div>
          <div class="form-group">
            <label class="label">Content</label>
            <input type="text" class="form-control" placeholder="Enter Content"
             [(ngModel)]="listdata.content" name=" ">
          </div>
          <div class="form-group">
            <label class="label">Style</label>
            <input type="text" class="form-control" placeholder="Enter style"
            [(ngModel)]="listdata.styles" name=" ">
          </div>

          <div class="container form-group">
            <h5>Checked</h5>
            <form class="radio">
              <label class="radio-inline">
                <input type="radio" name="checkedradio" value="true"
                [(ngModel)]="listdata.checked" checked="checked"> True
              </label>
              <label class="radio-inline">
                <input type="radio" name="checkedradio" value="false"
                [(ngModel)]="listdata.checked">False
              </label>
            </form>
          </div>
        </form>
      </div>
    </fieldset>
    <div *ngIf="last">
      <button type="button" (click)="addComponent(i)"
      class="btn btn-default center">Add Checkbox</button>
    </div>
  </div>
</div>
