.dropdown{
  padding: 5px;
}
.formsDiv{
  margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border-color: black;
    border: 2px;
}
.saveButton{
    display: block;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.previewButton{
  display: block;
  margin-left: auto;
  margin-right: 20%;
}
.forms{
  float: left;
  width: 50%;
}
.verticalLine {
  border-left: thick solid #ff0000;
}
