<div class="forms">
<div>
<select class="selectpicker dropdown center" select-option required
[(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
  <option *ngFor="let option of options" [value]="option.name" >
      {{option.name}}
  </option>
</select>
</div>
<div #parent class="formsDiv"></div>
<button class="btn btn-primary saveButton" *ngIf="btn" type="button"
(click)="saveData()">Save</button>
</div>

<app-cards [cards]="cards" (cards_added)="cards_added($event)" ></app-cards>
<!-- <button class="btn btn-primary previewButton" *ngIf="btn" type="button"
(click)="previewData()">Preview</button> -->
