<fieldset class="formDiv">
  <legend class="legend">
    Video Field
  </legend>
  <div>
    <button class="btn btn-sm btn-blue-cross fixed " type="submit" style="float:right;" (click)="closeForm()">X</button>
    <form>
      <div class="form-group">
        <label class="label">Src</label>
        <input type="text" class="form-control" placeholder="Enter Src of image" [(ngModel)]="data.src" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Type</label>
        <input type="text" class="form-control" placeholder="Enter Alternative of image" [(ngModel)]="data.type" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Height</label>
        <input type="text" class="form-control" placeholder="Enter Height" [(ngModel)]="data.height" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Width</label>
        <input type="text" class="form-control" placeholder="Enter Width" [(ngModel)]="data.width" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Style</label>
        <input type="text" class="form-control" placeholder="Enter style"
        [(ngModel)]="data.styles" name=" ">
      </div>
      <div class="container form-group">
        <h5>Controls</h5>
        <form class="radio">
          <label class="radio-inline">
      <input type="radio" name="ctrlradio" value="ON" [(ngModel)]="data.controls" checked> ON
    </label>
          <label class="radio-inline">
      <input type="radio" name="ctrlradio" value="OFF" [(ngModel)]="data.controls">OFF
    </label>
        </form>
      </div>
      <div class="container form-group">
        <h5>Autoplay</h5>
        <form class="radio">
          <label class="radio-inline">
      <input type="radio" name="autoplayradio" value="ON" [(ngModel)]="data.autoplay" checked> ON
    </label>
          <label class="radio-inline">
      <input type="radio" name="autoplayradio" value="OFF" [(ngModel)]="data.autoplay">OFF
    </label>
        </form>
      </div>
      <div class="container form-group">
        <h5>Loop</h5>
        <form class="radio">
          <label class="radio-inline">
      <input type="radio" name="loopradio" value="ON" [(ngModel)]="data.loop" checked> ON
    </label>
          <label class="radio-inline">
      <input type="radio" name="loopradio" value="OFF" [(ngModel)]="data.loop">OFF
    </label>
        </form>
      </div>
    </form>
  </div>
</fieldset>
