{% load static i18n compress%}
	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="images/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Botsmint</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href='{% static "css/linearicons.css" %}'>
			<link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
			<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
			<link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
			<link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
			<link rel="stylesheet" href='{% static "css/hexagons.min.css" %}'>
			<link rel="stylesheet" href='{% static "css/animate.min.css" %}'>
			<link rel="stylesheet" href='{% static "css/owl.carousel.css" %}'>
			<link rel="stylesheet" href='{% static "css/main.css" %}'>
		</head>
		<body>
			  <header id="header" id="home">
			   <!-- <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src='{% static "images/botmint logo.png" alt="" title=""  %}' /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="index.html">Home</a></li>
				          <li><a href="about.html">About Us</a></li>
				          <li><a href="services.html">Services</a></li>
				          <li><a href="products.html">Products</a></li>
				          <li class="menu-has-children"><a href="">Blog</a>
				            <ul>
				              <li><a href="blog-home.html">Blog Home</a></li>
				              <li><a href="blog-single.html">Blog Single</a></li>
				            </ul>
				          </li>
				          <li><a href="contact.html">Contact</a></li>
				          <li class="menu-has-children"><a href="">Dropdown</a>
				            <ul>
				              <li><a href="elements.html">Elements</a></li>
				              <li><a href="product-details.html">Product Details</a></li>
				              <li class="menu-has-children"><a href="">Level 2</a>
					            <ul>
					              <li><a href="#">Item 1</a></li>
					              <li><a href="#">Item 2</a></li>
					            </ul>
					          </li>
				            </ul>
				          </li>
				        </ul>
				      </nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area" id="home">
				 <div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-6 col-md-6">
							<h1>

								<br><br>Improved <br>
								ChatBots <br>
								with Botsmint
							</h1>
							<p class="text-white text-uppercase">
								Everyone wants the innovation through Botsmint
							</p>
							<a href="/registration" class="primary-btn header-btn text-uppercase">Try YourSelf</a>
							<a href="#" class="primary-btn header-btn text-uppercase">Request Demo</a>
						</div>
						<div class="banner-img col-lg-6 col-md-6">
							<img class="img-fluid" src='{% static "images/banner-img.png"  %}' alt="">
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start products Area -->
			<section class="products-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-12 pb-40 header-text text-center">
							<h1 class="pb-10">Create smart and innovative chatbots with our advanced platform with multiple features</h1>

						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-product">
								<div class="thumb">
									<img src='{% static "images/userfriendly.png"  %}' alt="">
								</div>
								<div class="details">
									<h4>User Friendly</h4>
									<p>
										Easy to use platform to innovate a perfect chatbot
									</p>
									<a href="#" class="primary-btn text-uppercase">View Details</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-product">
								<div class="thumb">
									<img src='{% static "images/platform.png"  %}' alt="">
								</div>
								<div class="details">
									<h4>Publish</h4>
									<p>
									publish your bot on various platform to interact with users
									</p>
									<a href="#" class="primary-btn text-uppercase">View Details</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-product">
								<div class="thumb">
									<img src='{% static "images/machinelearning.png"  %}' alt="">
								</div>
								<div class="details">
									<h4>Machine Learning</h4>
									<p>
                                                                         machine learning to understand users
									</p>
									<a href="#" class="primary-btn text-uppercase">View Details</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-product">
								<div class="thumb">
									<img src='{% static "images/costeffective.png"  %}' alt="">
								</div>
								<div class="details">
									<h4>Cost Effective</h4>
									<p>
										The services offered are free to use without any charges
									</p>
									<a href="#" class="primary-btn text-uppercase">View Details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End products Area -->

			<!-- Start home-about Area -->
			<section class="home-about-area">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-6 home-about-left no-padding">
							<img class="mx-auto d-block img-fluid" src='{% static "images/about-img.png"  %}' alt="">
						</div>
						<div class="col-lg-6 home-about-right no-padding">
							<h1>Why Botsmint ?</h1>
							<h5>
								Your progress is saved
							</h5>
							<p>
						The progress of your work is saved in our database when ever you come back then Ta - daaa your progress is resumed where you have left.
													</p>
							<a class="primary-btn text-uppercase" href="#">Details</a>
						</div>
					</div>
				</div>
			</section>
			<!-- End home-about Area -->


			<!-- Start about-video Area -->
			<section class="about-video-area section-gap">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 about-video-left">
							<h6 class="text-uppercase">Brand new platform to blow your mind</h6>
							<h1>
								We’ve made a platform <br>
								that will make your life easier
							</h1>
							<p>
								<span>We are here to provide you best services in the market</span>
							</p>
							<p>
												Get ready to be a part of Botsmint which provide you all the solutions to deploy your own intelligent bot accross diffrent platform and help in your business need.
							</p>
							<a class="primary-btn" href="#">Get Started Now</a>
						</div>
						<div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex relative">
							<div class="overlay overlay-bg"></div>
							<a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src='{% static "images/play-btn.png"  %}' alt=""></a>
						</div>
					</div>
				</div>
			</section>
			<!-- End about-video Area -->


			<!-- Start feature Area -->
			<section class="feature-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-12 pb-40 header-text text-center">
							<h1 class="pb-10 text-white">Some Features that Made us Unique</h1>

						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<a href="#" class="title d-flex flex-row">
									<span class="lnr lnr-user"></span>
									<h4>User friendly platform</h4>
								</a>
								<p>
	A picture is worth a thousand words. An interface is worth a thousand pictures.
				</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<a href="#" class="title d-flex flex-row">
									<span class="lnr lnr-license"></span>
									<h4>Professional Service</h4>
								</a>
								<p>
The goal is to provide services not just the best but legendary.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<a href="#" class="title d-flex flex-row">
									<span class="lnr lnr-phone"></span>
									<h4>Great Support</h4>
								</a>
								<p>
	"Customers may forget what you said but they'll never forget how you made them feel."
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<a href="#" class="title d-flex flex-row">
									<span class="lnr lnr-rocket"></span>
									<h4>Technical Easement</h4>
								</a>
								<p>
	New technology is not good or evil in and of itself. It's all about how people choose to use it.
				</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<a href="#" class="title d-flex flex-row">
									<span class="lnr lnr-diamond"></span>
									<h4>Highly Recomended</h4>
								</a>
								<p>
chatbots are used to solve a number of business tasks across many industries like E-Commerce, Insurance, Banking, Healthcare				</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<a href="#" class="title d-flex flex-row">
									<span class="lnr lnr-bubble"></span>
									<h4>Positive Reviews</h4>
								</a>
								<p>
	A good, sympathetic review is always a wonderful surprise.
				</p>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- End feature Area -->


			<!-- Start brand Area -->
			<!--<section class="brand-area pt-120">
				<div class="container">
					<div class="row align-items-center">
						<div class="col single-brand">
							<img class="img-fluid" src='{% static "images/l1.png"  %}' alt="">
						</div>
						<div class="col single-brand">
							<img class="img-fluid" src='{% static "images/l2.png"  %}' alt="">
						</div>
						<div class="col single-brand">
							<img class="img-fluid" src='{% static "images/l3.png"  %}' alt="">
						</div>
						<div class="col single-brand">
							<img class="img-fluid" src='{% static "images/l4.png"  %}' alt="">
						</div>
						<div class="col single-brand">
							<img class="img-fluid" src='{% static "images/l5.png"  %}' alt="">
						</div>
					</div>
				</div>
			</section>
			<!-- End brand Area -->


			<!-- Start blog Area -->
			<section class="blog-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-12 pb-40 header-text text-center">
							<h1 class="pb-10">Latest News from our Platform</h1>

						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 blog-left">
							<div class="thumb">
								<img class="img-fluid" src='{% static "images/b1.png"  %}' alt="">
							</div>
							<div class="detais">
								<ul class="tags">

									<li><a href="#">      Details</a></li>
								</ul>
								<a href="#"><h4>Node.js library included</h4></a>
								<p>
	The Bot Builder SDK for Node.js is a framework for developing bots. It is easy to use and models frameworks like Express & restify to provide a familiar way for JavaScript developers to write bots.
								</p>

							</div>
						</div>
						<div class="col-lg-6 col-md-6 blog-right">
							<div class="thumb">
								<br><br>
								<img class="img-fluid" src='{% static "images/b2.jpeg"  %}' alt="">
							</div>
							<div class="detais">
								<ul class="tags">
									<br><br>
									<li><a href="#">Details</a></li>
								</ul><br>
								<a href="#"><h4>Natural Language processing</h4></a>
								<p>
The interactions between computers and human (natural) languages, in particular how to program computers to fruitfully process large amounts of natural language data.		</p>

							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End blog Area -->

			<!-- start footer Area -->
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-12">
							<div class="single-footer-widget">
								<h6>Top Products</h6>
								<ul class="footer-nav">
									<li><a href="#">Managed Website</a></li>
									<li><a href="#">Manage Reputation</a></li>
									<li><a href="#">Power Tools</a></li>
									<li><a href="#">Marketing Service</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6  col-md-12">
							<div class="single-footer-widget newsletter">
								<h6>Newsletter</h6>
								<p>You can trust us. we only updates of our platform, not a single spam.</p>
								<div id="mc_embed_signup">
									<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">

										<div class="form-group row" style="width: 100%">
											<div class="col-lg-8 col-md-12">
												<input name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
												<div style="position: absolute; left: -5000px;">
													<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
												</div>
											</div>

											<div class="col-lg-4 col-md-12">
												<button class="nw-btn primary-btn">Subscribe<span class="lnr lnr-arrow-right"></span></button>
											</div>
										</div>
										<div class="info"></div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-3  col-md-12">
							<div class="single-footer-widget mail-chimp">
								<!--<h6 class="mb-20">Instragram Feed</h6>
								<ul class="instafeed d-flex flex-wrap">
									<li><img src='{% static "images/i1.jpg"  %}' alt=""></li>
									<li><img src='{% static "images/i2.jpg"  %}' alt=""></li>
									<li><img src='{% static "images/i3.jpg"  %}' alt=""></li>
									<li><img src='{% static "images/i4.jpg"  %}' alt=""></li>
									<li><img src='{% static "images/i5.jpg"  %}' alt=""></li>
									<li><img src='{% static "images/i6.jpg"  %}' alt=""></li>
									<li><img src='{% static "images/i7.jpg"  %}' alt=""></li>
									<li><img src='{% static "images/i8.jpg"  %}' alt=""></li>
								</ul> -->
							</div>
						</div>
					</div>

					<div class="row footer-bottom d-flex justify-content-between">
						<p class="col-lg-8 col-sm-12 footer-text m-0 text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Botsmint. All rights reserved
<!-- <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
						<div class="col-lg-4 col-sm-12 footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- End footer Area -->

			<script src='{% static "js/jquery.min.js"  %}'></script>
			<script src='{% static "js/bootstrap.min.js"  %}'></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src='{% static "js/easing.min.js"  %}'></script>
			<script src='{% static "js/hoverIntent.js"  %}'></script>
			<script src='{% static "js/superfish.min.js"  %}'></script>
			<script src='{% static "js/jquery.ajaxchimp.min.js"  %}'></script>
			<script src='{% static "js/jquery.magnific-popup.min.js"  %}'></script>
			<script src='{% static "js/owl.carousel.min.js"  %}'></script>
			<script src='{% static "js/hexagons.min.js"  %}'></script>
			<script src='{% static "js/jquery.nice-select.min.js"  %}'></script>
			<script src='{% static "js/jquery.counterup.min.js"  %}'></script>
			<script src='{% static "js/waypoints.min.js"  %}'></script>
			<script src='{% static "js/mail-script.js"  %}'></script>
			<script src='{% static "js/main.js"  %}'></script>
		</body>
	</html>



