<div class="border">
  <div *ngFor="let listdata of data; let i=index; let last=last">
    <fieldset class="formDiv">
      <legend class="legend">
        AnchorList Field
      </legend>
      <div>
        <button class="btn btn-sm btn-blue-cross fixed " type="submit"
              style="float:right;" (click)="closeItemForm(i)">X</button>
        <form>
          <div class="form-group">
            <label class="label">Href Url</label>
            <input type="text" class="form-control" placeholder="Enter href url"
              [(ngModel)]="listdata.href" name=" ">
          </div>
          <div class="form-group">
            <label class="label">Content</label>
            <input type="text" class="form-control" placeholder="Enter content"
            [(ngModel)]="listdata.content" name=" ">
          </div>
          <div class="form-group">
            <label class="label">Style</label>
            <input type="text" class="form-control" placeholder="Enter style"
             [(ngModel)]="listdata.styles" name=" ">
          </div>
          <div class="container form-group">
            <h5>Download</h5>
            <form class="radio">
              <label class="radio-inline">
                <input type="radio" name="downloadradio" value="Yes"
                [(ngModel)]="listdata.download" checked="checked"> Yes
              </label>
              <label class="radio-inline">
                <input type="radio" name="downloadradio" value="No"
                [(ngModel)]="listdata.download">No
              </label>
            </form>
          </div>
        </form>
      </div>
    </fieldset>
    <div *ngIf="last">
      <button type="button" (click)="addComponent(i)"
      class="btn btn-default center">Add Anchor</button>
    </div>
  </div>
</div>
