{% extends "base.html" %}
{% load static i18n compress%}

{% block css %}
{{ block.super }}
    <link href="{% static 'apis/css/debug.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'apis/css/bootstrap-responsive.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript" charset="utf8" src="{% static 'apis/js/debug.js' %}"></script>
{% endblock %}
