        html {
            height: 100%;
        }
        body {
            min-height: 100%;
        }
        .container {
            font-family: 'arial';
        }
        .config-header{
            border-top: 5px solid cadetblue;
            background: grey !important;
            border-bottom: 5px solid cadetblue;
            height: 60px;
            border-radius: 0px;
            margin-bottom: 0px;
        }
        .navbar .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
            background-color: dimgrey;
        }
        .tabs-container{
            background: gainsboro;
            height: calc(100vh - 130px);
        }
        .tabs-div{
            overflow-y: auto;
            height: inherit;
            position: fixed;
            left: 0;
            right: 0;
            background: lightyellow;
        }
        .tabs-container .container{
            padding: 0px;
        }
        .tab-pane{
            height: inherit;
        }
        form{
            height: inherit;
        }
        .form-fields{
            overflow-y: auto;
            padding: 20px;
            height: calc(100% - 120px);
        }
        #home{
            color: #224f77;
        }
        #home .header{
            text-align: center;
            padding: 10px;
            background: #cce6ff;
            height: 60px;
        }
        .footer{
            text-align: center;
            padding: 10px;
            background: #cce6ff;
            height: 60px;
        }
        .footer .button{
            background: inherit;
            width: auto;
            border: double;
            border-radius: 5px;
            border-color: #2e6da4;
            font-weight: 600;
            color: #224f77;
        }
        .tab-content .tab-gallery{
            background: wheat;
            height: calc(100% - 40px);
        }
        body {
            padding-top: 0px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
        }

        .htmlgallery,.html5gallery,.html5gallery-container-0,.html5gallery-container-1,.html5gallery-elem-0,.html5gallery-elem-1,.html5gallery-elem-video-0,.html5gallery-elem-video-container-0,.html5gallery-title-0,.html5gallery-title-1,.html5gallery-viral-0{
            width: 100% !important;
        }
        .htmlgallery,.html5gallery,.html5gallery-container-0,.html5gallery-container-1,.html5gallery-elem-video-container-0,.html5gallery-elem-video-0{
            height: 100% !important;
        }
        #html5gallery-elem-html5-video-0{
            height: calc(100% - 36px);
            width:100%;
        }
        .html5gallery-box-1{
            height: calc(100% - 105px) !important;
        }
        .html5gallery-box-0{
            height: calc(100% - 35px) !important;
        }
        .html5gallery-elem-0,.html5gallery-elem-1,.html5gallery-loading-center-0,.html5gallery-loading-center-1{
            height: calc(100% -  50px) !important;
        }
        .html5gallery-elem-img-0,.html5gallery-elem-img-1{
            height: 100% !important;
            width: 100% !important;
        }
        .html5gallery-elem-image-0,.html5gallery-elem-image-1{
            top: unset !important;
            left: 45px !important;
            height: 100% !important;
            width: 89% !important;
        }
        .html5gallery-elem-0,.html5gallery-elem-1{
            background-color: #000;
        }
        .html5gallery-title-0,.html5gallery-title-1{
            top: unset !important;
            bottom: 0px !important;
        }
        .html5gallery-car-0,.html5gallery-car-1{
            top: unset !important;
            bottom: 20px !important;
        }
        .html5gallery-timer-0,.html5gallery-timer-1{
            top: unset !important;
            bottom: 50px
        }
        .html5gallery-car-0{
            display: none !important;
        }
        .html5gallery-box-0,.html5gallery-box-1,.html5gallery-car-0,.html5gallery-car-1{
            width: 96.5% !important;
        }
        .html5gallery-car-list-0,.html5gallery-car-list-1{
            width: 99% !important;
        }
        .html5gallery-car-mask-0,.html5gallery-car-mask-1{
            width: 85% !important;
            left: 50px !important;
        }
        .html5gallery-right-0,.html5gallery-right-1{
            left: 94.5% !important;
        }
        .html5gallery-lightbox-0,.html5gallery-lightbox-1{
            display: none !important
        }
        .html5gallery-right-0,.html5gallery-right-1,.html5gallery-left-0,.html5gallery-left-1{
            top: 140px !important
        }
        .html5gallery-play-0,.html5gallery-play-1,.html5gallery-pause-0,.html5gallery-pause-1{
            left: 94.5% !important;
            top: unset !important;
            bottom: 60px;
        }
        .html5gallery-lightbox-0,.html5gallery-lightbox-1{
            bottom: 60px;
            top: unset !important;
        }
        .html5gallery-elem-error-0,.html5gallery-elem-error-1{
           margin: auto !important;
           right: 0;
        }
        .upload,.gallery{
            height: 100%;
        }
        .menu1,.menu2{
            margin-left: 200px;
            margin-right: 200px;
        }
        .validateCards{
            text-align: center;
            border-style: double;
            border-color: rgba(8,100,149,1);
            box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
            min-width: 300px;
            position: absolute;
            top: 45%;
            left: 35%;
            background: rgba(0, 0, 0, 0.6);
            padding: 20px;
            z-index: 10;
            color: white;
            font-size: 14px;
            border-radius: 10px;
        }
        .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
            background-color: cadetblue;
        }
        li a{
            background-color: whitesmoke;
        }
        .imageuploadify{
            height: calc(100% - 60px);
        }