.btn {
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.09) inset;
    font-weight: 500;
}

.btn.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.btn-xs {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}

.btn-primary {
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
}

.fa-bars:before {
    content: "\f0c9"
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.tinytable td {
    text-align: left !important;
}

.container {
    font-family: 'arial';
}

.demo {
    margin: 30px auto;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 14px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.tinytable th {
    background-color: #e33044!important;
    font-family: OswaldLight, sans-serif;
    text-align: left;
    color: #fff;
    border: 1px solid #fff;
    border-right: none;
}

.button {
    background-color: #e33044!important;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.channelContainer {
    float: left;
    margin: 5px;
    padding: 10px;
    width: 60%;
    border: 1px solid #edf0f2;
}

.channel {
    float: left;
    margin: 5px;
    padding: 20px;
    width: 236px;
    height: 180px;
    font-size: 16px;
    border: 1px solid #dce0e2;
    background: #edf0f2;
}

.channelChild {
    /* width: 100px;
height: 50px;*/
    border: 1px solid #edf0f2;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 15px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.channel:hover {
    color: #2196F3;

}

.h-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
    border-top: 1px solid gray;
    border-color: #e8e8e8;
}


.modal-backdrop {
    z-index: auto;
}

.my-error-class {
    color:red;
}