<!-- START: Modal for  kik-->
{% load staticfiles %}
<div class="modal fade" id="kikModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <img src="{% static 'images/kik_icon.png' %}" style="width:40px;height:40px">
                    <span style="font-size:28px;margin-top:15px!important;"> Kik</span>
                </div>
            </div>
            <div class="modal-body">
                <div style="overflow:auto;height:200px;">
                    <span>Train your Kik bots to understand natural language.</span>
                    <p>When your Bot instance is ready, follow these instructions to connect it to a Kik Channel:</p>
                    <div>
                        <ul>
                            <li>Create your bot in Kik.</li>
                            <li>Insert your bot name and Kik Api Key in the fields below.</li>
                            <li>Click 'START' below.</li>
                        </ul>
                    </div>
                </div>

                <div>
                    <h4>Kik Auth form</h4>
                    <form action="{% url 'kik_install' botid %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_bot_name">Bot name:</label>
                            <input type="text" class="form-control" name="bot_name" id="id_bot_name" value="{{ kik_form.bot_name.value}}" required />
                            <label for="id_app_key">API Key:</label>
                            <input type="text" class="form-control" name="app_key" id="id_app_key" value="{{ kik_form.app_key.value}}" required />
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" name="submit" type="submit" value="Integrate Kik" />
                            <button type="button" class="btn btn-default" style="background-color:#e8e8e8;" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: Modal for  kik-->
