{% load staticfiles %}
<!--START: DIV SECTION FOR kik-->
<div class="channel" id="kikChild">
    <div class="channelChild">
        <center><img src="{% static 'images/kik_icon.png' %}" style="width:70px;height:70px;"></center>
    </div>
    <div class="channelChild">
        <center><strong> Kik</strong></center>
    </div>
    <div class="channelChild">
        <center>
            <label class="switch">
                  <input type="checkbox" class="switch" id="kik_switch" data-channel="kik">
                  <div class="slider round"></div>
                </label>
        </center>
    </div>
    <div class="channelChild settings" data-channel-model="kikModal" style="display:block;color:#2196F3;cursor:pointer;">
        <center>Settings</center>
    </div>
</div>
<!--END: DIV SECTION FOR kik-->
