{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<div class="alert alert-info gc">
	{% blocktrans with confirmation.email_address.email as email %}Merci de confirmer que l'adresse
	<a href="mailto:{{ email }}">{{ email }}</a> est bien l'adresse de l'utilisateur {{ user_display }}.{% endblocktrans %}
</div>
<div class="gc">
	<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
	{% csrf_token %}
	    <button class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
	</form>
</div>
{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Ce lien a expiré ou est invalide. Merci de <a href="{{ email_url }}">redemander un envoi de mail de confirmation</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
