
{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}

<h1>{% trans "Sign In" %}</h1>
{% comment %}
{% if socialaccount.providers %}

<div class="socialaccount_ballot">

  <div class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </div>
  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}
{% endcomment %}
<div class="gf gc">
	<div class="gtv btn btn-default gus gds">
		<i class="fa fa-check-square-o fa-lg"></i>&nbsp;<a href="{{ signup_url }}">{% trans "Signup" %}</a>
	</div>
</div>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-actions">
    <button class="btn btn-success" type="submit">{% trans "Sign In" %}</button>
    <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

  </div>
</form>

{% endblock %}
