{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
		<h1>{% trans "Sign Out" %}</h1>
		<div class="alert alert-warning gc">{% trans 'Are you sure you want to sign out?' %}</div>
		<div class="gf gc">
			<form class="form-horizontal" method="post" action="{% url 'account_logout' %}">
			  {% csrf_token %}
			  {% if redirect_field_value %}
			  		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
			  {% endif %}
			  <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
			</form>
		</div>
{% endblock %}
