<div class="border">
  <div *ngFor="let listdata of data; let i=index">
    <fieldset class="formDiv">
      <legend class="legend">
        Dynamic AnchorList Field
      </legend>
      <div>
        <button class="btn btn-sm btn-blue-cross fixed " type="submit"
        style="float:right;" (click)="closeForm()">X</button>
        <form>
          <div class="form-group">
            <label class="label">Url</label>
            <input type="text" class="form-control" placeholder="Enter url"
            [(ngModel)]="listdata.url" name=" ">
          </div>
          <div class="form-group">
            <label class="label">Key</label>
            <input type="text" class="form-control" placeholder="Enter key"
            [(ngModel)]="listdata.key" name=" ">
          </div>
          <div class="form-group">
            <label class="label">Value</label>
            <input type="text" class="form-control" placeholder="Enter value"
            [(ngModel)]="listdata.value" name=" ">
          </div>
          <div class="form-group">
            <label class="label">Style</label>
            <input type="text" class="form-control" placeholder="Enter style"
            [(ngModel)]="listdata.styles" name=" ">
          </div>
          <div class="container form-group">
            <h5>Download</h5>
            <form class="radio">
              <label class="radio-inline">
                <input type="radio" name="downloadradio" value="Yes"
                [(ngModel)]="listdata.download" checked="checked"> Yes
              </label>
              <label class="radio-inline">
                <input type="radio" name="downloadradio" value="No"
                [(ngModel)]="listdata.download">No
              </label>
            </form>
          </div>
        </form>
      </div>
    </fieldset>
  </div>
</div>
