{% verbatim %}
<!--botid, chat_id, base_url -->

<script id="USER" type="text/html">
    <div class='chat_message_wrapper chat_message_right'>
        <div class='chat_user_avatar'>
            <img src='{{base_url}}/static/images/avatar.png' class='md-user-image'>
        </div>
        <ul class='chat_message'>
            <li>
                <p>
                    {{message}}
                </p>
            </li>
        </ul>
    </div>
</script>

<script id="BOT" type="text/html">
    <div class='chat_message_wrapper'>
        <div class='chat_user_avatar'>
            <img src="{{bot_img}}{{^bot_img}}{{base_url}}/static/images/entillio.png{{/bot_img}}"
                class='md-user-image'>
        </div>
        <ul class='chat_message'>
            <li>
                <p>
                   {{{message}}}
                </p>
            </li>
        </ul>
    </div>
</script>

<script id="spinner" type="text/html">
    <div class='spn_hol'>
        <div class='spinner' style='display:block'>
            <div class='bounce1'></div>
            <div class='bounce2'></div>
            <div class='bounce3'></div>
        </div>
    </div>
</script>

<script id="thumbs" type="text/html">
<div align="right" id="{{chat_id}}">
    <a class="thumbs" data-chatid={{chat_id}} data-botid={{bot_id}} data-baseurl={{base_url}}
        data-value="like">
        <img src="{{base_url}}/static/images/thumbs_up.png" alt="Like" title="Like">
    </a>
    <a class="thumbs" data-chatid={{chat_id}} data-botid={{bot_id}} data-baseurl={{base_url}}
        data-value="dislike">
        <img src="{{base_url}}/static/images/thumbs_down.png" alt="Dislike" title="Dislike">
    </a>
</div>
</script>

<script id="star" type="text/html">
<div align="right" id="{{chat_id}}">
    <input type="image" src="" class="rating rating-loading"  value="0" data-size="xs" title=""
    data-chatid={{chat_id}} data-botid={{bot_id}} data-baseurl={{base_url}}
    >
</div>
</script>

<script id="suggestions" type="text/html">
<br><br>
<b>Some of the other questions of interest could be as follows:</b><br>
<ul>
    {{#suggestions}}
    <li>
        <a href="#" data-inp-val="{{question}}">{{question}}</a>: <b><i>({{score}}% confidence)</i></b>
    </li>
     {{/suggestions}}
</ul>
<br>
<i>
<p>If none of the above matches your requirement, please rephrase to include more keywords</p>
</i>
<br>
</script>

<script id="Text" type="text/html">
<p style="{{css}}">{{value}}</p>
</script>

<script id="List with Checkboxes" type="text/html">
<ul id="{{id}}" style="list-style-type: none;{{css}}">
    {{#options}}
    <li><input type="checkbox" style="vertical-align:middle" value="{{displayvalue}}">{{displayname}}</li>
    {{/options}}
    <br>
    <button type="button" onclick="changeValue(returnValues(this.parentNode.id),'cards')">Proceed</button>
</ul>
</script>

<script id="Carousel" type="text/html">
<div id="carousel-example-generic{{id}}" class="carousel slide" data-ride="carousel">
    <ol id="carousel-indicators{{id}}" class="carousel-indicators">
        {{#options.0}}
            <li data-target="#carousel-example-generic{{id}}" data-slide-to="{{@index}}" class="active"></li>
        {{/options.0}}
        {{#options}}
            <li data-target="#carousel-example-generic{{id}}" data-slide-to="{{@index}}"></li>
        {{/options}}
    </ol>
    <div id="carousel-inner{{id}}" class="carousel-inner">
        {{#options.0}}
            <div id="item{{id}}" class="item active"><img src="{{displayvalue}}">
                <div class="carousel-caption"></div>
            </div>
        {{/options.0}}
        {{#options}}
            <div id="item{{id}}" class="item"><img src="{{displayvalue}}">
                <div class="carousel-caption"></div>
            </div>
        {{/options}}
    </div>
    <a href="#carousel-example-generic{{id}}" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel-example-generic{{id}}" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
</script>

<script id="Drop Down" type="text/html">
<select onchange="changeValue($(this).val(),'cards')" style="{{css}}">
    {{#options}}
    <option value="{{displayvalue}}">{{displayname}}</option>
    {{/options}}
</select>
</script>

<script id="List" type="text/html">
<ul style="{{css}}">
    {{#options}}
    <li>{{displayname}}</li>
    {{/options}}

</ul>
</script>

<script id="Anchor Link" type="text/html">
<a data-inp-val="{{inp_val}}" style="{{css}}">{{value}}</a>
</script>

<script id="Image" type="text/html">
<img style="{{css}}" src="{{value}}">
</script>

<script id="Line Break" type="text/html">
{{#value}}
<br>
{{/value}}
</script>

<script id="Input Box" type="text/html">
<input type="{{type}}{{^type}}text{{/type}}" style="{{css}}" value="{{value}}">
</script>

<script id="Text Area" type="text/html">
<textarea style="{{css}}">{{value}}</textarea>
</script>

<script id="Button" type="text/html">
<button type="button" data-inp-val="{{inp_val}}" style="{{css}}">{{value}}</button>
</script>

<script id="List with Anchors" type="text/html">
<ul style="{{css}}">
    {{#options}}
    <li><a data-inp-val="{{displayvalue}}" style="{{css}}">{{displayname}}</a></li>
    {{/options}}
</ul>
</script>

<script id="Form" type="text/html">
<form id="api_form{{id}}">
    {{#val}}
        <p style="{{css}}">{{label}}:</p>
        {{#input_box}}
            <input name={{name}} type="{{type}}{{^type}}text{{/type}}" style="{{css}}" value="{{value}}" required>
        {{/input_box}}

        {{#text_area}}
            <textarea name={{name}} style="{{css}}" required>{{value}}</textarea>
        {{/text_area}}
        <br><br>
    {{/val}}
    <button type="button" id="form_submit{{id}}" form-inp-val="{{form_action}}">Submit</button>
    <br>
</form>
</script>


<script id="Table" type="text/html">
<table>
    <thead>
        <tr>
            {{#header}}
            <td>
                {{value}}
            </td>
            {{/header}}
        </tr>
    </thead>
    <tbody>
        {{#rows}}
        <tr>
            {{#row}}
            <td>
                {{value}}
            </td>
            {{/row}}
        </tr>
        {{/rows}}
    </tbody>
</table>
</script>


<script id="Spell" type="text/html">
    <p>
        <b>Did you mean</b>
    </p>
    <p>
        <i style="color:red">{{value}}</i>
    </p>
    <br>
    <a href="#" data-inp-val="Yes">Yes</a>
    <a href="#" data-inp-val="No">No</a>
</script>

<script id="LiveAgent" type="text/html">
<p>It seems you are not getting satisfactory response.
    <br>
    Click on the image to talk to a Live Agent.
</p>
<a target="_blank" href="{{value}}">
    <img height="60" width="60" src="{{base_url}}static/images/live_agent.jpg" />
</a>
</script>


<script id="Rank5" type="text/html">
<p>It seems you are not getting satisfactory response.
    <br>
    Please provide feedback at below
</p>
<a target="_blank" href="{{value}}">
    <img height="60" width="60" src="{{base_url}}static/images/live_agent.jpg" />
</a>
</script>

<script id="Video" type="text/html">
<video width="320" height="240" controls><source style="{{css}}" src="{{value}}" type="video/mp4"></video>
</script>
{% endverbatim %}