{% extends "base.html" %}
{% load static %}

{% block  title %}
  Chat Application
{% endblock %}

{% block css %}

{{ block.super }}

<link href="{% static 'chat/css/chat.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block javascript %}

{{ block.super }}
<script src="{% static 'chat/js/angular.js' %}"></script>
<script src="{% static 'chat/js/angular-animate.js' %}"></script>
<script src="{% static 'chat/js/chat.js' %}"></script>
{% endblock %}

{% block content %}
 {% endblock %}
