{% extends "chatbase.html" %} {% load static %} {% block css %} {{ block.super }}
<link href="{% static 'registration/css/cards.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'registration/css/normalize.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'registration/css/bot_grid.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'registration/css/registration.css' %}" rel="stylesheet" type="text/css" /> {% endblock %} {% block content %}
<div>
  <ul class="bot-row card-list">

    {% for bot in bots %}
    <li class="bot-cell">
      <div class="card__id">
        <div class="card__name"> {{bot.name}}</div>
        <a href="{% url 'chat:chat-bot' bot.id %}">
          <div class="card__avatar">
            <img src={{bot.image.url}} alt="">
          </div>
        </a>
      </div>
</li>
{% endfor %} {% for d in dummy_cells %}
<li class="bot-cell"> </li>
{% endfor %}
</ul>
</div>
{% if bot_c %}
<div ng-app="chatApp" ng-init="bot={{bot_c}}">
  <script>
    var user_image = '{% static "/images/users/avatar-1.jpg" %}';
    var bot_image = '/media/' + '{{bot_obj.image}}';
    var bot_id = '{{bot_obj.id}}'
  </script>
  {% verbatim %}
  <div ng-controller="chatController">
    <div class="msg_box" id="msg_box" ng-view="msg_box" ng-model="msg_box" style="right:0px" ng-hide="isclicked" ng-show="isclickeduser">
      <div class="msg_head" ng-view="msghead" ng-click="msghead()" ng-hide="isclicked" ng-show="isclickeduser">{{ bot[0].fields.name }}

      </div>
      <div class="msg_wrap">
        <div class="msg_body">
          <div class="msg_push"></div>
        </div>
        <div class="fake-input">
          <textarea placeholder="Enter chat here..." ng-model="chatbox" class="msg_input" rows="1" enter-press="chatfunction();"></textarea>
          <div class="imgbutton" id="imgbutton">
            <img src="/static/images/send.png" ng-click="chatfunction();" id="imageclick" width="30" height="30">
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endverbatim %}
</div>
{% endif %} {% endblock %}
