
<fieldset class="formDiv">
  <legend class="legend">
    Anchor Field
  </legend>
  <div>
    <button class="btn btn-sm btn-blue-cross fixed " type="submit" style="float:right;"
    (click)="closeForm()">X</button>
    <form>
      <div class="form-group">
        <label class="label">Href Url</label>
        <input type="text" class="form-control" placeholder="Enter href url"
        [(ngModel)]="data.href" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Content</label>
        <input type="text" class="form-control" placeholder="Enter content"
        [(ngModel)]="data.content" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Style</label>
        <input type="text" class="form-control" placeholder="Enter style"
        [(ngModel)]="data.styles" name=" ">
      </div>

      <div class="container form-group">
        <h5>Download</h5>
        <form class="radio">
          <label class="radio-inline">
      <input type="radio" name="downloadradio" value="Yes" [(ngModel)]="data.download" checked="checked"> Yes
    </label>
          <label class="radio-inline">
      <input type="radio" name="downloadradio" value="No" [(ngModel)]="data.download">No
    </label>
        </form>
      </div>
    </form>
  </div>
</fieldset>
