<!-- START: Modal for  webconnect-->
{% load staticfiles %}
<div class="modal fade" id="webconnectModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <img src="{% static 'images/web_connect.png' %}" style="width:40px;height:40px">
                    <span style="font-size:28px;margin-top:15px!important;"> WebConnect</span>
                </div>
            </div>
            <div class="modal-body">
                <div style="overflow:auto;height:200px;" id="Content_id">
                    <span>You can have your own copy of the chat in your local</span>
                    <p>When your Bot instance is ready, follow these instructions to connect:</p>
                    <div>
                        <ul>
                            <li>1.First Provide the username and password to Login</li>
                            <li>2.Close all the chrome browsers that are opened</li>
                            <li>3.Go to Google chrome till Application folder in your command prompt and type the below command</li>
                            <li><input type="text" class="form-control" name="chome_disable" value="chrome.exe --disable-web-security --user-data-dir" disabled/></li>
                            <li>4.Once you have downloaded the zip folder. Unzip and open the html file in your opened chrome browser</li>
                            <li>5.You are ready.</li>
                            <li>6.You can also download the document Here.</li>

                        </ul>
                    </div>
                </div>
                 <br>
                <div id="Download_Button">
                    <label for="webconnect_file">Download</label> &nbsp;&nbsp;
                            <!--<input type="button"  name="customer_file" id="id_download_file" value="Customer Zip File"  />-->
                    <a class="btn btn-info" download="Customer.zip" id="webconnect_file" title="Download" target="_blank"><em class="fa fa-download"></em></a>
                    <!--<div align="right"><button type="button" class="btn btn-default" style="background-color:#e8e8e8;" data-dismiss="modal">Close</button></div>-->
                </div>
                <br>
                <div id="User_Form">
                    <h4>WebConnect Auth form</h4>
                    <form method="post" id="webconnect_form" name="webconnect_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_user_name">Username:</label>
                            <input type="text" class="form-control" name="bot_user_name" id="id_user_name" value="{{ webconnect_form.bot_user_name.value}}" required />
                            <br>
                            <label for="id_bot_user_password">Password</label>
                            <input type="password" class="form-control" name="bot_user_password" id="id_bot_user_password" value="{{ webconnect_form.bot_user_password.value}}" required />
                            <br>
                            <label for="id_customer_name">Customer Name</label>
                            <input type="text" class="form-control" name="bot_customer_name" id="id_customer_name" value="{{ webconnect_form.bot_customer_name.value}}" required />
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" id="webconnect_submit" name="submit_webconnect" type="submit" value="WebConnect"/>
                            <button type="button" class="btn btn-default" style="background-color:#e8e8e8;" id="webform_close">Close</button>
                        </div>
                    </form>
                </div>
                <div id="Edit_Form">
                    <h4>WebConnect Edit Auth form</h4>
                    <form method="post" id="webconnect_edit_form" name="webconnect_edit_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="edit_user_name">Username:</label>
                            <input type="text" class="form-control" name="bot_user_name" id="edit_user_name" required/>
                            <br>
                            <label for="edit_bot_user_password">Password</label>
                            <input type="password" class="form-control" name="bot_user_password" id="edit_bot_user_password" required/>
                            <br>
                            <label for="edit_customer_name">Customer Name</label>
                            <input type="text" class="form-control" name="bot_customer_name" id="edit_customer_name" disabled />
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" id="webconnect_edit" name="edit_webconnect" type="submit" value="Edit WebConnect" />
                            <button type="button" class="btn btn-default" style="background-color:#e8e8e8;" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- End: Modal for  webconnect-->
