{% load staticfiles %}
<!--START: DIV SECTION FOR webconnect-->
<div class="channel" id="webconnectChild">
    <div class="channelChild">
        <center><img src="{% static 'images/web_connect.png' %}" style="width:70px;height:70px;"></center>
    </div>
    <div class="channelChild">
        <center><strong> WebConnect</strong></center>
    </div>
    <div class="channelChild">
        <center>
            <label class="switch">
                  <input type="checkbox" class="switch" id="webconnect_switch" data-channel="webconnect">
                  <div class="slider round"></div>
                </label>
        </center>
    </div>
    <div class="channelChild settings"  id="webconnect_modal" data-channel-model="webconnectModal" style="display:block;color:#2196F3;cursor:pointer;">
        <center>Settings</center>
    </div>
</div>
<!--END: DIV SECTION FOR webconnect-->
