/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


label.label {
  float: left !important;
}

.formDiv {
  padding: 15px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  border:1.5px solid black;
}
.legend {
    display: block;
    width: auto;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
