{% extends "base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block topbar %} {% endblock %}
{% block leftbar %} {% endblock %}
{% block rightbar %} {% endblock %}


{% block content %}
        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="card-box">
                {% block inner %}{% endblock %}
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    {% block rowinner %}{% endblock %}
                </div>
            </div>
        </div>

{% endblock %}


