{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}


<div class="panel-heading">
          <h3 class="text-center">{% trans "Sign In to" %} <strong class="text-custom">BotMint</strong></h3>
        </div>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <div class="form-group text-center m-t-40">
              <div>
  <button class="btn btn-pink btn-block text-uppercase waves-effect waves-light" type="submit">{% trans "Log In" %}</button>
</div>
</div>
<div class="form-group m-t-20 m-b-0">
              <div class="col-sm-12">
                <a href="{% url 'account_reset_password' %}" class="text-dark"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
              </div>
            </div>
  <div class="form-group m-t-20 m-b-0">
              <div class="text-center">
                <h4><b>Sign in with</b></h4>
              </div>
            </div>

            <div class="form-group m-b-0 text-center">
              <div>
                <button type="button" class="btn btn-facebook waves-effect waves-light m-t-20">
                               <i class="fa fa-facebook m-r-5"></i> Facebook
                            </button>

                            <button type="button" class="btn btn-twitter waves-effect waves-light m-t-20">
                               <i class="fa fa-twitter m-r-5"></i> Twitter
                            </button>

                            <button type="button" class="btn btn-googleplus waves-effect waves-light m-t-20">
                               <i class="fa fa-google-plus m-r-5"></i> Google+
                            </button>
              </div>
            </div>
</form>

{% endblock %}

{% block rowinner %}
<p>{% blocktrans %}Don't have an account?
<a href="{{ signup_url }}" class="text-primary m-l-5">sign up</a> first.{% endblocktrans %}</p>
{% endblock %}
