{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}

               <div class="panel-heading">
                    <h3 class="text-center">{% trans "Sign Up to" %} <strong class="text-custom">BotMint</strong> </h3>
                </div>
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-group text-center m-t-40">
                            <div >
  <button class="btn btn-pink btn-block text-uppercase waves-effect waves-light" type="submit">{% trans "Register" %} &raquo;</button></div>
                        </div>
                          <div class="form-group m-t-20 m-b-0">
                            <div class="text-center">
                                <h4><b>Sign Up with</b></h4>
                            </div>
                        </div>

                        <div class="form-group m-b-0 text-center">
                            <div>
                                <button type="button" class="btn btn-facebook waves-effect waves-light m-t-20">
                                   <i class="fa fa-facebook m-r-5"></i> Facebook
                                </button>

                                <button type="button" class="btn btn-twitter waves-effect waves-light m-t-20">
                                   <i class="fa fa-twitter m-r-5"></i> Twitter
                                </button>

                                <button type="button" class="btn btn-googleplus waves-effect waves-light m-t-20">
                                   <i class="fa fa-google-plus m-r-5"></i> Google+
                                </button>
                            </div>
                        </div>
</form>

{% endblock %}


{% block rowinner %}
<p>{% blocktrans %}Already have account? <a href="{{ login_url }}" class="text-primary m-l-5"> Sign in</a>{% endblocktrans %}</p>
{% endblock %}



