{% load static %}

<input type="text" id="input" required>
<input type="button" value="Search" id="search">
<input type="button" value="Add" id="add">

<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}"/>


{% block javascript %}

<script type="text/JavaScript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.0.min.js" ></script>
<script type="text/javascript" charset="utf8" src="{% static 'spellchecker/js/spelling.js' %}"></script>

<script>
  var url = "{% url 'spellcheck:search_text' 1  %}";
</script>
{% endblock %}
