<div>
  <div class="cards">
    <div *ngFor="let card of cards">
      <ng-container *ngIf="tmpls[card.type]">
        <ng-container [ngTemplateOutlet]="tmpls[card.type]"
        [ngTemplateOutletContext]="card">
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #Text let-details="details">
    <p style="{{details.styles}}">{{details.text}}</p>
</ng-template>

<!-- Text -->
<ng-template #Input let-details="details">
<div>
  {{details.label}}: <input  type="text" name="{{details.name}}" placeholder="{{details.placeholder}}" />
</div>
</ng-template>
<!-- TextArea -->
<ng-template #TextArea let-details="details">
<div>
  <textarea  name="{{details.name}}" rows="{{details.rows}}" cols="{{details.columns}}">{{details.discription}}</textarea>
</div>
</ng-template>
<!-- Image -->
<ng-template #Image let-details="details">
<div>
  <img  src="{{details.src}}" alt="{{details.alt}}" />
</div>
</ng-template>


<!-- Video -->
<ng-template #Video let-details="details">
<div>
  <video  width="{{details.width}}" height="height" {{details.controls}} {{details.autoplay}} {{details.loop}}>
  <source src="{{details.src}}" type="{{details.type}}">
</video>
</div>
</ng-template>
<!-- Anchor -->
<ng-template #Anchor let-details="details">
<div>
  <a href="{{details.href}}">{{details.content}}</a>
</div>
</ng-template>
<!-- Button -->
<ng-template #Button let-details="details">
<div>
  <button  type="{{details.type}}" attr.cardclick="{{details.click}}" {{details.disabled}}>
    {{details.name}}
</button>
</div>
</ng-template>
<!-- AnchorList -->
<ng-template #AnchorList let-details="details">
<div *ngFor="let l of details">
  <a  href="{{l.href}}">{{l.content}}</a>
</div>
</ng-template>
<!-- CheckList -->
<ng-template #CheckList let-details="details">
<div *ngFor="let l of details">
  <input  type="checkbox" name="{{l.name}}" value="{{l.value}}"
  [attr.checked]="l.checked == 'true' ? 'checked' : null"
  >{{l.content}}<br>
</div>
</ng-template>
<!-- Dropdown -->
<ng-template #Dropdown let-details="details">
<div>
  <select >
    <option *ngFor="let l of details" [value]="l.value">{{l.content}}</option>
  </select>
</div>
</ng-template>
<!-- Radio -->
<ng-template #Radio let-details="details">
<div>
  <input  type="radio" name="{{details.name}}" value="{{details.value}}"
  {{details.checked}}> {{details.content}}<br>
</div>
</ng-template>
<!-- Dynamic Anchor List -->
<ng-template #DynamicAnchorList let-details="details">
<div>
  <a href="{{details.href}}">{{details.content}}</a>
</div>
</ng-template>
<!-- Dynamic Checklist -->
<ng-template #DynamicCheckList let-details="details">
<div *ngFor="let l of details">
  <input  type="checkbox" name="{{details.name}}" value="value" {{details.checked}}>{{details.content}}<br>
</div>
</ng-template>
<!-- Dynamic Dropdown -->
<ng-template #DynamicDropdown let-details="details">
<div>
  <select name="{{details.name}}">
    <option *ngFor="let l of details" value="{{details.value}}">{{details.content}}</option>
  </select>
</div>
</ng-template>


<!--
<ng-template #USER let-details="details">
    <div class='chat_message_wrapper chat_message_right'>
        <div class='chat_user_avatar'>
            <img src='{{details.base_url}}/static/images/avatar.png' class='md-user-image'>
        </div>
        <ul class='chat_message'>
            <li>
                <p>
                    {{details.message}}
                </p>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #BOT let-details="details">
    <div class='chat_message_wrapper'>
        <div class='chat_user_avatar'>
            <img src="{{details.bot_img}}{{^bot_img}}{{details.base_url}}/static/images/entillio.png{{/bot_img}}"
                class='md-user-image'>
        </div>
        <ul class='chat_message'>
            <li>
                <p>
                   {{{details.message}}}
                </p>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #spinner let-details="details">
    <div class='spn_hol'>
        <div class='spinner' style='display:block'>
            <div class='bounce1'></div>
            <div class='bounce2'></div>
            <div class='bounce3'></div>
        </div>
    </div>
</ng-template>

<ng-template #thumbs let-details="details">
<div align="right" id="{{details.chat_id}}">
    <a class="thumbs" data-chatid={{details.chat_id}} data-botid={{details.bot_id}} data-baseurl={{details.base_url}}
        data-value="like">
        <img src="{{details.base_url}}/static/images/thumbs_up.png" alt="Like" title="Like">
    </a>
    <a class="thumbs" data-chatid={{details.chat_id}} data-botid={{details.bot_id}} data-baseurl={{details.base_url}}
        data-value="dislike">
        <img src="{{details.base_url}}/static/images/thumbs_down.png" alt="Dislike" title="Dislike">
    </a>
</div>
</ng-template>

<ng-template #star let-details="details">
<div align="right" id="{{details.chat_id}}">
    <input type="image" src="" class="rating rating-loading"  value="0" data-size="xs" title=""
    data-chatid={{details.chat_id}} data-botid={{details.bot_id}} data-baseurl={{details.base_url}}
    >
</div>
</ng-template>

<ng-template #suggestions let-details="details">
<br><br>
<b>Some of the other questions of interest could be as follows:</b><br>
<ul>
    {{#suggestions}}
    <li>
        <a href="#" data-inp-val="{{details.question}}">{{details.question}}</a>: <b><i>({{details.score}}% confidence)</i></b>
    </li>
     {{/suggestions}}
</ul>
<br>
<i>
<p>If none of the above matches your requirement, please rephrase to include more keywords</p>
</i>
<br>
</ng-template> -->


<!--
<ng-template #List let-details="details">
<ul id="{{details.id}}" style="list-style-type: none;{{details.css}}">
    {{#options}}
    <li><input type="checkbox" style="vertical-align:middle" value="{{details.displayvalue}}">{{details.displayname}}</li>
    {{/options}}
    <br>
    <button type="button" card-onclick="changeValue(returnValues(this.parentNode.id),'cards')">Proceed</button>
</ul>
</ng-template>

<ng-template #Carousel let-details="details">
<div id="carousel-example-generic{{details.id}}" class="carousel slide" data-ride="carousel">
    <ol id="carousel-indicators{{details.id}}" class="carousel-indicators">
        {{#options.0}}
            <li data-target="#carousel-example-generic{{details.id}}" data-slide-to="{{@index}}" class="active"></li>
        {{/options.0}}
        {{#options}}
            <li data-target="#carousel-example-generic{{details.id}}" data-slide-to="{{@index}}"></li>
        {{/options}}
    </ol>
    <div id="carousel-inner{{details.id}}" class="carousel-inner">
        {{#options.0}}
            <div id="item{{details.id}}" class="item active"><img src="{{details.displayvalue}}">
                <div class="carousel-caption"></div>
            </div>
        {{/options.0}}
        {{#options}}
            <div id="item{{details.id}}" class="item"><img src="{{details.displayvalue}}">
                <div class="carousel-caption"></div>
            </div>
        {{/options}}
    </div>
    <a href="#carousel-example-generic{{details.id}}" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel-example-generic{{details.id}}" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
</ng-template>

<ng-template #Drop let-details="details">
<select onchange="changeValue($(this).val(),'cards')" style="{{details.css}}">
    {{#options}}
    <option value="{{details.displayvalue}}">{{details.displayname}}</option>
    {{/options}}
</select>
</ng-template>

<ng-template #List let-details="details">
<ul style="{{details.css}}">
    {{#options}}
    <li>{{details.displayname}}</li>
    {{/options}}

</ul>
</ng-template>

<ng-template #Anchor let-details="details">
<a data-inp-val="{{details.inp_val}}" style="{{details.css}}">{{details.value}}</a>
</ng-template>

<ng-template #Image let-details="details">
<img style="{{details.css}}" src="{{details.value}}">
</ng-template>

<ng-template #Line let-details="details">
{{#value}}
<br>
{{/value}}
</ng-template>

<ng-template #Input let-details="details">
<input type="{{details.type}}{{^type}}text{{/type}}" style="{{details.css}}" value="{{details.value}}">
</ng-template>

<ng-template #Text let-details="details">
<textarea style="{{details.css}}">{{details.value}}</textarea>
</ng-template>

<ng-template #Button let-details="details">
<button type="button" data-inp-val="{{details.inp_val}}" style="{{details.css}}">{{details.value}}</button>
</ng-template>

<ng-template #List let-details="details">
<ul style="{{details.css}}">
    {{#options}}
    <li><a data-inp-val="{{details.displayvalue}}" style="{{details.css}}">{{details.displayname}}</a></li>
    {{/options}}
</ul>
</ng-template>

<ng-template #Form let-details="details">
<form id="api_form{{details.id}}">
    {{#val}}
        <p style="{{details.css}}">{{details.label}}:</p>
        {{#input_box}}
            <input name={{details.name}} type="{{details.type}}{{^type}}text{{/type}}" style="{{details.css}}" value="{{details.value}}" required>
        {{/input_box}}

        {{#text_area}}
            <textarea name={{details.name}} style="{{details.css}}" required>{{details.value}}</textarea>
        {{/text_area}}
        <br><br>
    {{/val}}
    <button type="button" id="form_submit{{details.id}}" form-inp-val="{{details.form_action}}">Submit</button>
    <br>
</form>
</ng-template>


<ng-template #Table let-details="details">
<table>
    <thead>
        <tr>
            {{#header}}
            <td>
                {{details.value}}
            </td>
            {{/header}}
        </tr>
    </thead>
    <tbody>
        {{#rows}}
        <tr>
            {{#row}}
            <td>
                {{details.value}}
            </td>
            {{/row}}
        </tr>
        {{/rows}}
    </tbody>
</table>
</ng-template>


<ng-template #Spell let-details="details">
    <p>
        <b>Did you mean</b>
    </p>
    <p>
        <i style="color:red">{{details.value}}</i>
    </p>
    <br>
    <a href="#" data-inp-val="Yes">Yes</a>
    <a href="#" data-inp-val="No">No</a>
</ng-template>

<ng-template #LiveAgent let-details="details">
<p>It seems you are not getting satisfactory response.
    <br>
    Click on the image to talk to a Live Agent.
</p>
<a target="_blank" href="{{details.value}}">
    <img height="60" width="60" src="{{details.base_url}}static/images/live_agent.jpg" />
</a>
</ng-template>


<ng-template #Rank5 let-details="details">
<p>It seems you are not getting satisfactory response.
    <br>
    Please provide feedback at below
</p>
<a target="_blank" href="{{details.value}}">
    <img height="60" width="60" src="{{details.base_url}}static/images/live_agent.jpg" />
</a>
</ng-template>

<ng-template #Video let-details="details">
<video width="320" height="240" controls><source style="{{details.css}}" src="{{details.value}}" type="video/mp4"></video>
</ng-template>

<ng-template #notice let-details="details">
{{#notices}}
    <div id="notice_{{details.notice_id}}" class="notice">
        <h4> {{details.notice}} </h4>
        {{#detail}}
        <form>
            {{{details.detail}}}
            <br>
            <a class="notice btn btn-info" data-baseurl="{{details.base_url}}"
             data-noticeid="{{details.notice_id}}"> Submit </a>
            <div class="msg">
            </div>
        </form>
        {{/detail}}
        <hr>
    </div>
{{/notices}}
</ng-template> -->
