<fieldset class="formDiv">
  <legend class="legend">
    Dynamic Dropdown Field
  </legend>
  <div>
    <button class="btn btn-sm btn-blue-cross fixed " type="submit" style="float:right;"
    (click)="closeForm()">X</button>
    <form>
      <div class="form-group">
        <label class="label">Url</label>
        <input type="text" class="form-control" placeholder="Enter url"
        [(ngModel)]="data.url" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Key</label>
        <input type="text" class="form-control" placeholder="Enter key"
        [(ngModel)]="data.key" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Value</label>
        <input type="text" class="form-control" placeholder="Enter value"
        [(ngModel)]="data.value" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Style</label>
        <input type="text" class="form-control" placeholder="Enter style"
        [(ngModel)]="data.styles" name=" ">
      </div>
    </form>
  </div>
</fieldset>
