.nav.sidebar a {
  border-right: 1px solid white;
  padding: 5px 10px;
}

.nav.sidebar a.active {
  font-weight: bold;
  background-color: #f0f0f0;
  border-color: #428bca;
}

.nav.sidebar li.divider {
  margin: 0.5em;
  border-top: 1px solid #dfdfdf;
}

div.addRow, div.deleteAll, div.trainBot{
  line-height: 35px;
  float: left;
  margin: 10px;
}

div.addRow button, div.deleteAll button, div.trainBot button{
    background-color: transparent;
    border: none;
    padding: 0;
}

.content-page{
  margin-right: 0;
}
