<fieldset class="formDiv">
  <legend class="legend">
    TextArea Field
  </legend>
  <div>
    <button class="btn btn-sm btn-blue-cross fixed " type="submit"
    style="float:right;" (click)="closeForm()">X</button>
    <form>
      <div class="form-group">
        <label class="label">Name</label>
        <input type="text" class="form-control" placeholder="Enter Name"
        [(ngModel)]="data.name" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Row</label>
        <input type="text" class="form-control" placeholder="Enter Rows"
        [(ngModel)]="data.rows" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Cols</label>
        <input type="text" class="form-control" placeholder="Enter Cols"
        [(ngModel)]="data.columns" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Discription</label>
        <input type="text" class="form-control" placeholder="Enter Discription"
        [(ngModel)]="data.discription" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Style</label>
        <input type="text" class="form-control" placeholder="Enter style"
        [(ngModel)]="data.styles" name=" ">
      </div>
    </form>
  </div>
</fieldset>
