{% extends "base.html" %}
{% load avatar_tags %}
{% load static %}

  {% block title %} Chat {% endblock %}
  {% block baseurl %}
    <base href="/ngapp/chat/">
  {% endblock %}

{% block content %}
<script>
window.bot_info = {data:{{bots|safe}}};
window.user_image = '{% avatar_url user 30 %}';
</script>

<app-root></app-root>


{% endblock %}
