<!-- START: Modal for  viber-->
{% load staticfiles %}
<div class="modal fade" id="viberModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <img src="{% static 'images/viber_icon.png' %}" style="width:40px;height:40px">
                    <span style="font-size:28px;margin-top:15px!important;"> Viber</span>
                </div>
            </div>
            <div class="modal-body">
                <div style="overflow:auto;height:200px;">
                    <span>Train your Viber bots to understand natural language.</span>
                    <p>When your Bot instance is ready, follow these instructions to connect it to a Viber Channel:</p>
                    <div>
                        <ul>
                            <li>Apply for a <a href="https://www.viber.com/en/public-accounts" target="_blank">Public Account</a> in Viber.</li>
                            <li>Follow the <a href="https://developers.viber.com/docs/general/public-accounts/" target="_blank">instructions</a> to create your Viber Public Account.</li>
                            <li>Copy your <a href="https://developers.viber.com/docs/general/getting-started-with-bots/">Viber App Key</a> and paste it into the respective field below.</li>
                            <li>Enter your bot name (up to 28 characters) in the respective field below.</li>
                            <li>Enter a public URL that points to your bot’s avatar in the respective field below. The image file should be up to 100kb, recommended dimensions are 720x720 pixels.</li>
                            <li>Click ‘START’.</li>

                        </ul>
                    </div>
                </div>

                <div>
                    <h4>Viber Auth form</h4>
                    <form action="{% url 'viber_install' botid %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_bot_name">Bot name:</label>
                            <input type="text" class="form-control" name="bot_name" id="id_bot_name" value="{{ viber_form.bot_name.value}}" required />
                            <label for="id_app_key">App Key:</label>
                            <input type="text" class="form-control" name="app_key" id="id_app_key" value="{{ viber_form.app_key.value}}" required />
                            <label for="id_avatar_url">Public Avatar URL:</label>
                            <input type="text" class="form-control" name="avatar_url" id="id_avatar_url" value="{{ viber_form.avatar_url.value}}" required />
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" name="submit" type="submit" value="Integrate Viber" />
                            <button type="button" class="btn btn-default" style="background-color:#e8e8e8;" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: Modal for  viber-->
