{% load staticfiles %}
<!--START: DIV SECTION FOR viber-->
<div class="channel" id="viberChild">
    <div class="channelChild">
        <center><img src="{% static 'images/viber_icon.png' %}" style="width:70px;height:70px;"></center>
    </div>
    <div class="channelChild">
        <center><strong> Viber</strong></center>
    </div>
    <div class="channelChild">
        <center>
            <label class="switch">
                  <input type="checkbox" class="switch" id="viber_switch" data-channel="viber">
                  <div class="slider round"></div>
                </label>
        </center>
    </div>
    <div class="channelChild settings" data-channel-model="viberModal" style="display:block;color:#2196F3;cursor:pointer;">
        <center>Settings</center>
    </div>
</div>
<!--END: DIV SECTION FOR viber-->
