<div class="contact1">
	<div class="container-contact1">
		<div class="contact1-pic js-tilt" data-tilt>
			<!-- <img src="assets/img-01.png" alt="IMG"> -->
		</div>

		<form class="contact1-form validate-form">
			<span class="contact1-form-title">
					Fill these Details
				</span>

			<div class="wrap-input1 validate-input" data-validate="Name is required">
				<input class="input1" type="text" [(ngModel)]="uname" placeholder="User Name" [ngModelOptions]="{standalone: true}">
			</div>

			<div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
				<input class="input1" type="password" [(ngModel)]="password" placeholder="Password" [ngModelOptions]="{standalone: true}">
			</div>

			<div class="wrap-input1 validate-input" data-validate="Subject is required">
				<input class="input1" type="url" placeholder="URL" [(ngModel)]="url" [ngModelOptions]="{standalone: true}">
			</div>
			<a  [routerLink]="['/chat']">
			<button class="contact1-form-btn" (click)="buttonClick()">
						<span >
							Send
						</span>
					</button></a>
		</form>
	</div>
</div>
