{% extends "dataset_base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
    <link href="{% static 'dataset/css/dataset.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
{% if error %}
<span class="alert alert-error"> {{error}} </span>
{% endif %}
{% if data|length > 0 %}
<table class="bootstrap-table">
<thead>
  <tr>
    <td> No </td>
    <td> Question</td>
    <td> Answer </td>
    <td> Action </td>
  </tr>
</thead>
<tbody>
    {% for d in data %}
      <tr>
        <td>
          {{ forloop.counter }}
        </td>
        <td>
          {{ d.ques}}
        </td>
        <td>
          {{ d.ans}}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
