<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Channels</title>
    <meta name="description" content="Common form elements and layouts" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/EntellioSmall.png' %}"/>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" type='text/css' href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type='text/css' href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />
    <!-- jquery and common libraries -->
    <script src="{% static 'bower_components/jquery/dist/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- page specific plugins js -->
    <script src="{% static 'bower_components/jquery/dist/jquery.validate.min.js' %}"></script>
    <!-- Custom Css files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
    <script type="text/javascript">
        window.botId = '{{botid}}';
    </script>
    <!-- Custom Js files -->
    <script src="{% static 'js/channels.js' %}"></script>
</head>
<body>
    <div id="page_body">
        {% include "bot_header.html" %}
        <input type="hidden" id="hostname" value="{{ request.get_host }}">
        <div class="channelContainer">
            {% include 'slack/icon.html'%}
            {% include 'skype/icon.html'%}
            {% include 'spark/icon.html'%}
            {% include 'facebook/icon.html'%}
            {% include 'line/icon.html'%}
            {% include 'twitter/icon.html'%}
            {% comment  %}
            {% include 'viber/icon.html'%}
            {% endcomment %}
            {% include 'kik/icon.html'%}
            {% include 'telegram/icon.html'%}
            {%include 'webconnect/icon.html'%}
        </div>
    </div>
    {% include 'slack/dialog.html'%}
    {% include 'skype/dialog.html'%}
    {% include 'spark/dialog.html'%}
    {% include 'facebook/dialog.html'%}
    {% include 'line/dialog.html'%}
    {% include 'twitter/dialog.html'%}
    {% comment  %}
    {% include 'viber/dialog.html'%}
    {% endcomment %}
    {% include 'kik/dialog.html'%}
    {% include 'telegram/dialog.html'%}
    {% include 'webconnect/dialog.html'%}
</body>
</html>
