<!-- START: Modal for CISCO SPARK-->
{% load staticfiles %}
<div class="modal fade" id="sparkModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <img src="{% static 'images/spark_icon.png' %}" style="width:40px;height:40px">
                    <span style="font-size:28px;margin-top:15px!important;">Cisco Spark</span>
                </div>
            </div>
            <div class="modal-body">
                <div style="overflow:auto;height:200px;">
                    <span>Train your Spark bots to understand natural language.</span>
                    <p>Creating a Spark Bot is super easy,follow these instructions to connect it to <a href="https://developer.ciscospark.com/add-app.html" target="_blank">Cisco Spark</a></p>
                    <div>
                        <ul style="padding-left: 30px;">
                            <li>From the <a href="https://developer.ciscospark.com/apps.html">My Apps</a> section, click on the plus sign and choose <code class="light">Create a Bot</code> from the wizard.</li>
                            <li>Create a bot (Choose Bot section). Fill in the fields: Display Name, Bot Username, and Icon.</li>
                            <li> After Setup, We have to copy developer token, access token, name and email from the created app in below fields and click on "Integrate Cisco Spark" button to integrate spark with Entellio Framework.</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h4>Spark Auth form</h4>
                    <form action="{% url 'spark_install' botid %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_bot_name">Bot name</label>
                            <input type="text" class="form-control" name="bot_name" id="id_bot_name" value="{{ spark_form.bot_name.value}}" required />
                            <label for="id_bot_email">Bot email</label>
                            <input type="text" class="form-control" name="bot_email" id="id_bot_email" value="{{ spark_form.bot_email.value}}" required />
                            <label for="id_admin_token">Admin token</label>
                            <input type="text" class="form-control" name="admin_token" id="id_admin_token" value="{{ spark_form.admin_token.value}}" required />
                            <label for="id_bot_token">Bot token</label>
                            <input type="text" class="form-control" name="bot_token" id="id_bot_token" value="{{ spark_form.bot_token.value}}" required />
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" name="submit" type="submit" value="Integrate Spark" />
                            <button type="button" class="btn btn-default" style="background-color:#e8e8e8;" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: Modal for CISCO SPARK-->
