{% load staticfiles %}
<!--START: DIV SECTION FOR SPARK-->
<div class="channel" id="sparkChild">
    <div class="channelChild">
        <center><img src="{% static 'images/spark_icon.png' %}" style="width:70px;height:70px;"></center>
    </div>
    <div class="channelChild">
        <center><strong>Cisco Spark</strong></center>
    </div>
    <div class="channelChild">
        <center>
            <label class="switch">
                  <input type="checkbox" class="switch" id="spark_switch" data-channel="spark">
                  <div class="slider round"></div>
                </label>
        </center>
    </div>
    <div class="channelChild settings" data-channel-model="sparkModal" style="display:block;color:#2196F3;cursor:pointer;">
        <center>Settings</center>
    </div>
</div>
<!--END: DIV SECTION FOR SPARK-->
