body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;

    max-width: 400px;
}


.label[type="checkbox"]{
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; }

  .md-select-menu-container {
           z-index: 99999 !important;
       }



.wrapper{
width:100%;
height:1500px;
float:left;
background-color:#f3f2f2;
}



.box-conainer{
width:100%;
height:200px;
max-width: 200px;
float:left;
background-color:transparent;
}


.box{
width:100%;
max-width: 300px;
/*height:200px;*/
margin:20px;
display: block;
color: #555;
border: 1px dashed #333;
background-color: transparent;
box-shadow: none;
float:left;
}


.title{
background-color:transparent;
height:50px;
}


.addbtn {
  text-align: center;
}



.card-list .bot-cell {
    width: 30%;
}

.card-list .bot-cell {
    padding: 0.5em;
}
.card-list .bot-cell--ghost {
    padding: 0;
}

.card-list .bot-cell {
    min-width: 200px;
    min-height: 180px;
}

.card-list .bot-card {
    max-width: 400px;
}
