<div class="border">
  <fieldset class="formDiv">
    <legend class="legend">
      Dynamic CheckList Field
    </legend>
    <div>
      <button class="btn btn-sm btn-blue-cross fixed " type="submit" style="float:right;"
       (click)="closeForm()">X</button>
      <form>
        <div class="form-group">
          <label class="label">Url</label>
          <input type="text" class="form-control" placeholder="Enter url"
          [(ngModel)]="data.url" name=" ">
        </div>
        <div class="form-group">
          <label class="label">Key</label>
          <input type="text" class="form-control" placeholder="Enter key"
          [(ngModel)]="data.key" name=" ">
        </div>
        <div class="form-group">
          <label class="label">Value</label>
          <input type="text" class="form-control" placeholder="Enter value"
          [(ngModel)]="data.value" name=" ">
        </div>
        <div class="form-group">
          <label class="label">Style</label>
          <input type="text" class="form-control" placeholder="Enter style"
          [(ngModel)]="data.styles" name=" ">
        </div>
        <div class="container form-group">
          <h5>Checked</h5>
          <form class="radio">
            <label class="radio-inline">
              <input type="radio" name="checkedradio" value="True"
              [(ngModel)]="data.checked" checked="checked"> True
            </label>
            <label class="radio-inline">
              <input type="radio" name="checkedradio" value="False"
              [(ngModel)]="data.checked">False
            </label>
          </form>
        </div>
      </form>
    </div>
  </fieldset>
</div>
