<!-- START: Modal for  telegram-->
{% load staticfiles %}
<div class="modal fade" id="telegramModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <img src="{% static 'images/telegram_icon.png' %}" style="width:40px;height:40px">
                    <span style="font-size:28px;margin-top:15px!important;"> Telegram</span>
                </div>
            </div>
            <div class="modal-body">
                <div style="overflow:auto;height:200px;">
                    <span>Train your Telegram bots to understand natural language.</span>
                    <p>When your Bot instance is ready, follow these instructions to connect it to a Telegram Channel:</p>
                    <div>
                        <ul>
                            <li>Get a Telegram access token from BotFather and insert it in the ‘Telegram Token’ field.</li>
                            <li>Click 'START' below.</li>
                        </ul>
                    </div>
                </div>

                <div>
                    <h4>Telegram Auth form</h4>
                    <form action="{% url 'telegram_install' botid %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_bot_name">Bot name:</label>
                            <input type="text" class="form-control" name="bot_name" id="id_bot_name" value="{{ telegram_form.bot_name.value}}" required />
                            <label for="id_token">Telegram Token:</label>
                            <input type="text" class="form-control" name="token" id="id_token" value="{{ telegram_form.token.value}}" required />
                    </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" name="submit" type="submit" value="Integrate Telegram" />
                            <button type="button" class="btn btn-default" style="background-color:#e8e8e8;" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: Modal for  telegram-->
