{% load staticfiles %}
<!--START: DIV SECTION FOR telegram-->
<div class="channel" id="telegramChild">
    <div class="channelChild">
        <center><img src="{% static 'images/telegram_icon.png' %}" style="width:70px;height:70px;"></center>
    </div>
    <div class="channelChild">
        <center><strong> Telegram</strong></center>
    </div>
    <div class="channelChild">
        <center>
            <label class="switch">
                  <input type="checkbox" class="switch" id="telegram_switch" data-channel="telegram">
                  <div class="slider round"></div>
                </label>
        </center>
    </div>
    <div class="channelChild settings" data-channel-model="telegramModal" style="display:block;color:#2196F3;cursor:pointer;">
        <center>Settings</center>
    </div>
</div>
<!--END: DIV SECTION FOR telegram-->
