{% extends "avatar_base.html" %}
{% load i18n avatar_tags bootstrap %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-2 col-lg-8 col-lg-offset-2">
		<h1>{{ user.username }}</h1>
	    <p>{% trans "Your current avatar: " %}</p>
	    {% avatar user %}
	    {% if not avatars %}
	        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
	    {% else %}
	        <form method="POST" action="{% url 'avatar_change' %}">
	            <ul>
	                {{ primary_avatar_form|bootstrap }}
	            </ul>
	            <p>{% csrf_token %}<input type="submit" value="{% trans "Choose new Default" %}" /></p>
	        </form>
	    {% endif %}
	    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
	        <div class="form-group">
	        	{{ upload_avatar_form|bootstrap }}
	        </div>
	        <div class="form-group">
		        <p>{% csrf_token %}
		        	<input type="submit" value="{% trans "Upload New Image" %}" />
		        </p>
	        </div>
	    </form>
	    <div class="text-center" style="margin-top:2.5em">
	    	<a href="javascript:history.back()" class="btn btn-lg btn-default">{% trans "Back" %}</a>
		</div>
	</div>
</div>
{% endblock %}
