
body{
	margin:0px;
	height:900px;
	font-family: sans-serif;
}

.chat_box{
	position:fixed;
	right:20px;
	bottom:0px;
	width:250px;
}
.chat_body{
	background:#797979;
	height:408px;
	border: 2px solid #283593;
	padding:5px 0px;
}

.chat_head,.msg_head{
	background:#797979;
	color:white;
	padding:15px;
	font-weight:bold;
	cursor:pointer;
	border-radius:30px 30px 0px 0px;
}

.msg_box{
	position:fixed;
	bottom:-5px;
	width:270px;
	border-radius:10px 10px 10px 10px;
}

.msg_head{
	background:#454f61;
}

.msg_body{
	background:white;
	height:350px;
	font-size:12px;
	padding:15px;
	border: 2px solid black;
	overflow:auto;
	overflow-x: hidden;
}
.msg_input{
	width: 100%;
	padding: 10px;
	border: 2px solid #283593;
	border-top:1px solid #283593;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

.close{
	float:right;
	color:white;
	cursor:pointer;
}
.minimize{
	float:right;
	cursor:pointer;
	padding-right:5px;

}

.user{
	position:relative;
	padding:10px 30px;
}
.user:hover{
	background:#f8f8f8;
	cursor:pointer;

}
.user:before{
	content:'';
	position:absolute;
	background:#2ecc71;
	height:10px;
	width:10px;
	left:10px;
	top:15px;
	border-radius:6px;
}

.msg_a{
	position:relative;
	background:#F8BBD0;
	padding:10px;
	width: 170px;
	min-height:10px;
	margin-bottom:5px;
	margin-right:10px;
	word-wrap: break-word;
	border-radius:10px;
}
.msg_a:before{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent #F8BBD0 transparent transparent;
	left:-20px;
	top:7px;
}


.msg_b{
	background:#E1BEE7;
	padding:10px;
	min-height:15px;
	margin-bottom:5px;
	position:relative;
	width: 170px;
	text-align: right;
	margin-left:-14px;
	border-radius:10px;
	word-wrap: break-word;
}
.msg_b:after{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent transparent transparent #E1BEE7;
	right:-20px;
	top:7px;
}
.circular{
  display: inline-block;
  position: relative;
  width: 30px;

  height: 30px;
  overflow: hidden;
  margin-left: 15px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 50%;
}

.circular img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.circular2{
  display: inline-block;
  position: relative;
  width: 30px;
  margin-right: 15px;

  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}

.circular2 img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.create
{

background-repeat: no-repeat;
padding-left: 30px;  /* width of the image plus a little extra padding */
display: block;  /* may not need this, but I've found I do */
}

.container {
	width: auto;
    border-radius: 5px;
}
.inline {
display: inline-block;
}
.inline2 {
display: inline-block;
}
p span {

	display: block;
}
.fake-input { position: relative;}
.fake-input input { border:none: background:#fff; display:block; width: 100%; box-sizing: border-box }
.fake-input img { position: absolute; top: 8px; right: 5px }


/* ANIMATION */
/* The starting CSS styles for the enter animation */
#chat_box div.ng-enter {
  transition:0.5s linear all;
  opacity:0;
	transform: translateX(30px);
}

/* The finishing CSS styles for the enter animation */
#chat_box div.ng-enter.ng-enter-active {
  opacity:1;
}
