{% load static i18n compress%}
{% load avatar_tags %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A fully featured Chatbot Framework Botmint">
		<meta name="author" content="botmint">
		<link rel="shortcut icon" href={% static 'images/favicon.ico' %}" />

		<title>{% block title %}Botmint - mint your bots{% endblock title %}</title>
		{% block baseurl %}

	  {% endblock %}

		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/core.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/components.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/pages.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" type="text/css" />
    {% block css %}


    <!-- Your stuff: Third-party CSS libraries go here -->
    {% compress css %}
    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/botmint.css' %}" rel="stylesheet">

    {% endcompress %}
    {% endblock %}

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="{% static 'js/modernizr.min.js' %}"></script>
        <!-- jQuery  -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>


	</head>

	<body class="fixed-left">

		<!-- Begin page -->
		<div id="wrapper">
            {% block topbar %}
            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                        <a href="index.html" class="logo"><i class="icon-user icon-c-logo"></i><span>B<i class="md md-album"></i>TsMint</span></a>
                        <!-- Image Logo here -->
                        <!--<a href="index.html" class="logo">-->
                            <!--<i class="icon-c-logo"> <img src="{% static 'images/logo_sm.png" height="42"/> </i>-->
                            <!--<span><img src="{% static 'images/logo_light.png" height="20"/></span>-->
                        <!--</a>-->
                    </div>
                </div>

                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="">
                            <div class="pull-left">
                                <button class="button-menu-mobile open-left waves-effect waves-light">
                                    <i class="md md-menu"></i>
                                </button>
                                <span class="clearfix"></span>
                            </div>

                            <ul class="nav navbar-nav hidden-xs">
                                <li><a href="/api" class="waves-effect waves-light">API</a></li>
                                <!-- <li class="dropdown">
                                    <a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown"
                                       role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li> -->
                            </ul>

                            <form role="search" class="navbar-left app-search pull-left hidden-xs">
			                     <input type="text" placeholder="Search..." class="form-control">
			                     <a href=""><i class="fa fa-search"></i></a>
			                </form>


                            <ul class="nav navbar-nav navbar-right pull-right">
                                <li class="dropdown top-menu-item-xs">
                                    <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                        <i class="icon-bell"></i> <span class="badge badge-xs badge-danger">3</span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-lg">
                                        <li class="notifi-title"><span class="label label-default pull-right">New 3</span>Notification</li>
                                        <li class="list-group slimscroll-noti notification-list">
                                           <!-- list item-->
                                           <a href="javascript:void(0);" class="list-group-item">
                                              <div class="media">
                                                 <div class="pull-left p-r-10">
                                                    <em class="fa fa-diamond noti-primary"></em>
                                                 </div>
                                                 <div class="media-body">
                                                    <h5 class="media-heading">A new order has been placed A new order has been placed</h5>
                                                    <p class="m-0">
                                                        <small>There are new settings available</small>
                                                    </p>
                                                 </div>
                                              </div>
                                           </a>

                                           <!-- list item-->
                                           <a href="javascript:void(0);" class="list-group-item">
                                              <div class="media">
                                                 <div class="pull-left p-r-10">
                                                    <em class="fa fa-cog noti-warning"></em>
                                                 </div>
                                                 <div class="media-body">
                                                    <h5 class="media-heading">New settings</h5>
                                                    <p class="m-0">
                                                        <small>There are new settings available</small>
                                                    </p>
                                                 </div>
                                              </div>
                                           </a>

                                           <!-- list item-->
                                           <a href="javascript:void(0);" class="list-group-item">
                                              <div class="media">
                                                 <div class="pull-left p-r-10">
                                                    <em class="fa fa-bell-o noti-custom"></em>
                                                 </div>
                                                 <div class="media-body">
                                                    <h5 class="media-heading">Updates</h5>
                                                    <p class="m-0">
                                                        <small>There are <span class="text-primary font-600">2</span> new updates available</small>
                                                    </p>
                                                 </div>
                                              </div>
                                           </a>

                                           <!-- list item-->
                                           <a href="javascript:void(0);" class="list-group-item">
                                              <div class="media">
                                                 <div class="pull-left p-r-10">
                                                    <em class="fa fa-user-plus noti-pink"></em>
                                                 </div>
                                                 <div class="media-body">
                                                    <h5 class="media-heading">New user registered</h5>
                                                    <p class="m-0">
                                                        <small>You have 10 unread messages</small>
                                                    </p>
                                                 </div>
                                              </div>
                                           </a>

                                            <!-- list item-->
                                           <a href="javascript:void(0);" class="list-group-item">
                                              <div class="media">
                                                 <div class="pull-left p-r-10">
                                                    <em class="fa fa-diamond noti-primary"></em>
                                                 </div>
                                                 <div class="media-body">
                                                    <h5 class="media-heading">A new order has been placed A new order has been placed</h5>
                                                    <p class="m-0">
                                                        <small>There are new settings available</small>
                                                    </p>
                                                 </div>
                                              </div>
                                           </a>

                                           <!-- list item-->
                                           <a href="javascript:void(0);" class="list-group-item">
                                              <div class="media">
                                                 <div class="pull-left p-r-10">
                                                    <em class="fa fa-cog noti-warning"></em>
                                                 </div>
                                                 <div class="media-body">
                                                    <h5 class="media-heading">New settings</h5>
                                                    <p class="m-0">
                                                        <small>There are new settings available</small>
                                                    </p>
                                                 </div>
                                              </div>
                                           </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="list-group-item text-right">
                                                <small class="font-600">See all notifications</small>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="hidden-xs">
                                    <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
                                </li>
                                <li class="hidden-xs">
                                    <a href="#" class="right-bar-toggle waves-effect waves-light"><i class="icon-settings"></i></a>
                                </li>
                                <li class="dropdown top-menu-item-xs">

                                    <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
																				{% avatar user 50 class="img-circle" style="vertical-align:center" id="user_base_avatar" %}

																		</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'profile:home' %}"><i class="ti-user m-r-10 text-custom"></i> Profile</a></li>
                                        <li><a href="javascript:void(0)"><i class="ti-settings m-r-10 text-custom"></i> Settings</a></li>
                                        <li><a href="javascript:void(0)"><i class="ti-lock m-r-10 text-custom"></i> Lock screen</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/accounts/logout"><i class="ti-power-off m-r-10 text-danger"></i> Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>

            {% endblock %}
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->
            {% block leftbar %}
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>

                            <li>
                                <a href="/dashboard" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> </a>

                            </li>
                            <li>
                                <a href="{% url 'registration:bots-registration'%}" class="waves-effect"><i class="glyphicon glyphicon-th-large"></i> <span> My Bots </span>  </a>
                            </li>
                            <li>
                                <a href="/broadcast" class="waves-effect"><i class="glyphicon glyphicon-bullhorn"></i> <span> Broadcast </span> </a>

                            </li>
                            <li>
                                <a href="/ngapp/chat/" class="waves-effect"><i class="ion-ios7-chatboxes"></i> <span> Chat </span> </a>

                            </li>
                            <li>
                                <a href="/reports" class="waves-effect"><i class="glyphicon glyphicon-stats"></i> <span> Reports </span> </a>

                            </li>
                            <li>
                                <a href="/apis" class="waves-effect"><i class="ti-thought"></i> <span> API </span> </a>

                            </li>


                            <li>
                                <a href="/notification" class="waves-effect"><i class="glyphicon glyphicon-bell"></i> <span> Notification </span> </a>

                            </li>
                            <li>
                                <a href="/documentation" class="waves-effect"><i class="glyphicon glyphicon-book"></i> <span> Documentation </span> </a>

                            </li>
                            <li>
                                <a href="/help" class="waves-effect"><i class="md md-live-help"></i> <span> Help </span> </a>

                            </li>
                            <li>
                                <a href="{% url 'profile:home' %}" class="waves-effect"><i class="glyphicon glyphicon-user"></i> <span> Profile </span> </a>

                            </li>
                            <li>
                                <a href="/accounts/logout" class="waves-effect"><i class="glyphicon glyphicon-off"></i> <span> logout </span> </a>

                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% endblock %}
			<!-- Left Sidebar End -->

			<!-- ============================================================== -->
			<!-- Start right Content here -->
			<!-- ============================================================== -->

			<div class="content-page">
				<!-- Start content -->

				<div class="content">

					<div class="container">

    {% block content %}
  {% endblock %}


                    </div> <!-- container -->

                </div> <!-- content -->





            </div>

            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

            {% block rightbar %}

            {% endblock %}

        </div>
        {% block modal %}{% endblock modal %}
        <!-- END wrapper -->
                <footer class="footer">
                  {% block footer %}
                    BOTSMINT© 2018. All rights reserved.
                  {% endblock %}
                </footer>
        <script>
            var resizefunc = [];
        </script>


        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/detect.js' %}"></script>
        <script src="{% static 'js/fastclick.js' %}"></script>
        <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<!--         <script src="{% static 'js/jquery.blockUI.js' %}"></script> -->
        <script src="{% static 'js/waves.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>


        <script src="{% static 'js/jquery.core.js' %}"></script>
        <script src="{% static 'js/jquery.app.js' %}"></script>
         {% block javascript %}
               <!-- place project specific Javascript in this file -->
      {% compress js %}
      <script src="{% static 'js/botmint.js' %}"></script>
      {% endcompress %}


    {% endblock javascript %}
	</body>
</html>
