
{% extends "base.html" %}
{% load staticfiles bootstrap %}

{% block title %}Mon compte > Email{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-2 col-lg-8 col-lg-offset-2">
		<h1>Email</h1>
		<form action="" method="post">{% csrf_token %}
		    {{ form|bootstrap }}
		    {% if user.profile.email_is_verified %}
		    	<input type="submit" class="btn btn-primary" value="Changer et revérifier l'email" />
		    {% else %}
		    	<input type="submit" class="btn btn-primary" value="Vérifier l'email" />
		    {% endif %}
		</form>
	</div>
</div>

{% endblock %}
