{% extends "base.html" %}
{% load i18n avatar_tags %}

{% block title %}{% trans "My profile" %}{% endblock %}

{% block content %}
<style>
.grey {
	color:grey;
}
.success {
	color:green;
}
</style>
<div class="row">
	<div class="col-xs-12 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-2 col-lg-8 col-lg-offset-2">
		<div style="float:left;margin:1em 1em 0 0">
			<a href="{% url 'avatar_change' %}">
				{% avatar user 50 class="img-circle img-responsive" style="vertical-align:center" id="user_avatar" %}
			</a>
		</div>
		<h1>{{ user.username }}</h1>
		<p>{% if profile.completion_level == 100 %}<i class="fa fa-user fa-lg success"></i>&nbsp;{% endif %}{% trans "Profile completed at" %}
			<span class="generic_bold">
				{{ profile.completion_level }}%
			</span>
		</p>
	    <div class="progress">
	        <div class="progress-bar progress-bar-success" style="width:{{ profile.completion_level }}%;">
	            {{ profile.completion_level }}%
	        </div>
	    </div>
		{% if not profile.completion_level == 100 %}
			<p class="alert alert-info text-center">
				<i class="fa fa-user-times fa-lg"></i>&nbsp;{% trans "Your profile must be completed in order to access all the features of the site" %}
			</p>
			<h3 class="text-center" style="margin-bottom:1.5em">{% trans "Thank you to complete these informations:" %}</h3>
		{% endif %}
		<div class="row">
			<div class="col-sm-6">
			    <div class="panel panel-default">
			        <div class="panel-heading">
			        	<div class="pull-right">
				        	{% if not profile.email_is_verified %}
				        		<a href="{% url 'account_email' %}">
				        			<i class="fa fa-close fa-2x pull-right text-danger"></i>
				        		</a>
				        	{% else %}
				        		<i class="fa fa-check fa-2x success"></i>
				        	{% endif %}
				        </div>
				        <h4><i class="fa fa-envelope-o fa-lg"></i>&nbsp;{% trans "Email adress verification" %}</h4>
			        </div>
			        <div class="panel-body">
			        	{% if not profile.email_is_verified %}
								<a href="{% url 'account_email' %}" class="btn btn-primary">{% trans "Verify email" %}</a>
							{% else %}
								<a href="{% url 'account_email' %}" class="btn btn-default">{% trans "Edit email" %}</a>
						{% endif %}
			        </div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
			        <div class="panel-heading">
			        	<div class="pull-right">
				        	{% if not profile.personal_info_is_completed %}
				        		<a href="{% url "profile:identity-form" profile.pk %}">
				        			<i class="fa fa-close fa-2x pull-right grey"></i>
				        		</a>
				        	{% else %}
				        		<i class="fa fa-check fa-2x text-success"></i>
				        	{% endif %}
				        </div>
				        <h4><i class="fa fa-book fa-lg"></i>&nbsp;{% trans "Personal infos" %}</h4>
			        </div>
			        <div class="panel-body">
						{% if profile.personal_info_is_completed %}
							<a href="{% url "profile:identity-form" profile.pk %}" class="btn btn-default">{% trans "Edit" %}</a>
						{% else %}
							<a href="{% url "profile:identity-form" profile.pk %}" class="btn btn-primary">{% trans "Complete now" %}</a>
						{% endif %}
			        </div>
			    </div>
		    </div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p class="gc gus-l">
					<a href="{% url 'avatar_change' %}" class="btn btn-link">{% trans "Change your avatar" %}</a>
					<a href="{% url 'account_change_password' %}" class="btn btn-link">{% trans "Change your password" %}</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
