{% extends "base.html" %}
{% load staticfiles bootstrap %}

{% block title %}Mon compte > Informations personelles{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-2 col-lg-8 col-lg-offset-2">
		<h1>Informations personelles</h1>
		<form action="" class="form-horizontal" method="post">{% csrf_token %}
		    {{ form|bootstrap }}
		    <div>
		    	<input type="submit" class="btn btn-primary btn-lg pull-right" value="Envoyer" />
		    	<a href="javascript:history.back()" class="btn btn-default">Retour</a>
			</div>
		</form>
	</div>
</div>

{% endblock %}
