<button *ngFor="let user of botsData" (click)="openChatWindow(user, true)"
 class="btn btn-primary" style="margin-left:20px;">Open chat window</button>

<div *ngFor="let window of windows; let i = index" [ngClass]="{'ng-chat-window': true, 'ng-chat-window-collapsed': window.isCollapsed}" [ngStyle]="{'right': friendsListWidth + 20 + windowSizeFactor * i + 'px'}">
  <ng-container *ngIf="window.isCollapsed">
    <div class="ng-chat-title" (click)="onChatWindowClicked(window)">
      <strong style="color: white;" title="{{window.chattingTo.displayName}}">
                {{window.chattingTo.displayName}}
            </strong>
      <span [ngClass]="{'ng-chat-user-status': true, 'online': window.chattingTo.status == UserStatus.Online, 'busy': window.chattingTo.status == UserStatus.Busy, 'away': window.chattingTo.status == UserStatus.Away, 'offline': window.chattingTo.status == UserStatus.Offline}"
        title="{{getStatusTitle(UserStatus[window.chattingTo.status])}}"></span>
      <span *ngIf="unreadMessagesTotal(window).length > 0" class="ng-chat-unread-messages-count">{{unreadMessagesTotal(window)}}</span>
      <div class="titleIcon">
        <img src="../assets/notification.png" (click)="onNotificationChatWindow()" alt="" class="titleIconSpeaker">
        <img src="../assets/speaker.png" (click)="onSpeakerChatWindow()" alt="" class="titleIconSpeaker">
        <a href="javascript:void(0);" class="ng-chat-close" (click)="onCloseChatWindow(window)" class="titleIconCancle">X</a>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!window.isCollapsed">
    <div  class="ng-chat-title" (click)="onChatWindowClicked(window)">
      <strong style="color: white;" title="{{window.chattingTo.displayName}}">
                {{window.chattingTo.displayName}}
            </strong>
      <!-- <span [ngClass]="{'ng-chat-user-status': true, 'online': window.chattingTo.status == UserStatus.Online, 'busy': window.chattingTo.status == UserStatus.Busy, 'away': window.chattingTo.status == UserStatus.Away, 'offline': window.chattingTo.status == UserStatus.Offline}"
        title="{{getStatusTitle(UserStatus[window.chattingTo.status])}}"></span> -->
      <span *ngIf="unreadMessagesTotal(window).length > 0" class="ng-chat-unread-messages-count">{{unreadMessagesTotal(window)}}</span>
      <div class="titleIcon">

        <img src="../assets/notification.png" alt="" class="titleIconSpeaker" (click)="onNotificationChatWindow()">
        <img src="../assets/speaker.png" alt="" class="titleIconSpeaker" (click)="onSpeakerChatWindow()">
        <a href="javascript:void(0);" class="ng-chat-close" (click)="onCloseChatWindow(window)" class="titleIconCancle">X</a>
      </div>
    </div>
    <div #chatMessages class="ng-chat-messages">
      <div *ngIf="window.isLoadingHistory" class="ng-chat-loading-wrapper">
        <div class="loader">Loading history...</div>
      </div>

      <div *ngFor="let message of window.messages; let i = index" [ngClass]="{'ng-chat-message': true, 'ng-chat-message-received': message.fromId != userId}">
        <div *ngIf="!window.chattingTo.avatar && isAvatarVisible(window, message, i)" class="icon-wrapper">
          <i class="user-icon"></i>
        </div>
        <img *ngIf="window.chattingTo.avatar && isAvatarVisible(window, message, i)" alt="" class="avatar" height="30" width="30" [src]="window.chattingTo.avatar" />
        <span [innerHtml]="message.message "></span>
      </div>
    </div>

    <input #chatWindowInput [ngModel]="window.newMessage " (ngModelChange)="window.newMessage=$event" type="text" (keydown)="onChatInputTyped($event, window)" (blur)="toggleWindowFocus(window)" (focus)="toggleWindowFocus(window)" />
  </ng-container>
</div>
