#ng-chat {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
  color: #5C5C5C;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: initial;
  font-size: 11pt;
  text-align: left;
}

.ng-chat-loading-wrapper {
  height: 30px;
  text-align: center;
  font-size: 0.9em;
}

#ng-chat-people {
    position: absolute;
    width: 240px;
    float:right;
    height: 360px;
    bottom: 0px;
    right: 0px;
    border: 2px solid #38414c;
    margin-right: 20px;
    border-top-right-radius: 25px;

    border-top-left-radius: 12px;
    background-color: #B0BEC5;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.25);
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
    border-bottom: 0;
    border-bottom-width: 0px;
    border-bottom-style: initial;
    border-bottom-color: initial;
    margin-bottom: auto;
}
#ng-chat-people-content{
  position: absolute;
bottom: 0;
left: 0;
}

#ng-chat-people.ng-chat-people-collapsed {
  height: 30px;

}

.ng-chat-close {
  color: #5C5C5C;
  text-decoration: none;
  float: right;
}

.ng-chat-title, .ng-chat-title:hover {
  position: relative;
  z-index: 2;
  height: 30px;
  line-height: 30px;
  font-size: 1em;
  padding: 0 10px;
  border-radius:5px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #38414c;
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  cursor: pointer;
  /* background-color:#FFF; */
}

.ng-chat-title.shadowed {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
}

.ng-chat-title>strong {
  font-weight: 600;
  display: block;
  overflow: hidden;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 85%;
  float: left;
}

.ng-chat-title>.ng-chat-user-status {
  float: left;
  margin-left: 5px;
}

#ng-chat-search_friend {
  display: block;
  padding: 7px 10px;
  margin: 0 auto;
  width: calc(100% - 20px);
  margin-top: 10px;
  font-size: 0.9em;
  -webkit-appearance: searchfield;
}

#ng-chat-users {
  padding: 0 10px;
  list-style: none;
  margin: 0;
  overflow: auto;
  position: absolute;
  top: 84px;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

#ng-chat-users li {
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  max-height: 30px;
}

#ng-chat-users li>img, #ng-chat-users li>.icon-wrapper {
  float: left;
  margin-right: 5px;
  border-radius: 25px;
}

#ng-chat-users li>.icon-wrapper {
  background-color: #BABABA;
  overflow: hidden;
  width: 30px;
  height: 30px;
}

#ng-chat-users li>.icon-wrapper>i {
  color: #FFF;
  transform: scale(0.7);
}

#ng-chat-users li>strong {
  float: left;
  line-height: 30px;
  font-size: 0.8em;
  max-width: 57%;
  max-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#ng-chat-users li>.ng-chat-user-status {
  float: right;
}

.ng-chat-user-status {
  border-radius: 25px;
  width: 8px;
  height: 8px;
  margin-top: 10px;
}

.ng-chat-user-status.online {
  background-color: #92A400;
}

.ng-chat-user-status.busy {
  background-color: #F91C1E;
}

.ng-chat-user-status.away {
  background-color: #F7D21B;
}

.ng-chat-user-status.offline {
  background-color: #BABABA;
}

.ng-chat-unread-messages-count {
  background-color: #E3E3E3;
  margin-left: 5px;
  padding: 0 5px;
  border-radius: 25px;
  font-size: 0.9em;
  color: #5C5C5C;
  line-height: 30px;
}


.ng-chat-window {
  bottom: 0;
  border: 1.5px solid #38414c;
  border-bottom: 0;
  border-top-right-radius: 25px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.7);
  z-index: 10;
  border-top-left-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
}


/* .ng-chat-window {
  right: 260px;
  height: 360px;
  z-index: 999;
  bottom: 0;
  position: fixed;
  width: 300px;
  border: 1.5px solid #38414c;
  border-bottom: 0;
  border-top-right-radius: 25px;

  border-top-left-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
} */

.ng-chat-window-collapsed {
  height: 30px !important;
}

.ng-chat-window>input {
  font-size: 1.5em;
  box-sizing: border-box;
  padding: 0 5px;
  display: block;

  height: calc(10%);
  width: 100%;
  border: none;
  border-top: 1px solid #A3A3A3;
}

.ng-chat-window .ng-chat-messages {
  padding: 10px;
  height: calc(90% - 30px);
  box-sizing: border-box;
  position: relative;
  overflow: auto;
  background-color: #FFF;
}

.ng-chat-window .ng-chat-messages .ng-chat-message {
  clear: both;
}

.ng-chat-window .ng-chat-messages .ng-chat-message>img, .ng-chat-window .ng-chat-messages .ng-chat-message>.icon-wrapper {
  position: absolute;
  left: 10px;

  border-radius: 25px;
}

.ng-chat-window .ng-chat-messages .ng-chat-message>.icon-wrapper {
  background-color: #80CBC4;
  overflow: hidden;
  width: 30px;
  height: 30px;

}

.ng-chat-window .ng-chat-messages .ng-chat-message>.icon-wrapper>i {
  color: #FFF;
  transform: scale(0.7);
}

.ng-chat-window .ng-chat-messages .ng-chat-message>span {
  float: right;
  width: 40%;
  padding: 0;
  margin-top: 0;
  background-color: #81D4FA;
  border-radius: 5px;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.5em;
  word-wrap: break-word;
}

.ng-chat-window .ng-chat-messages .ng-chat-message.ng-chat-message-received>span {
  float: left;
  margin-left: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #A7BBEC;
  border: 3px solid #E3E3E3;
  margin-top: 0;
  margin-bottom: 5px;
}

/*
/////////////cards/////////// */


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position:absolute;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width: auto;
}


.center {
    margin: auto;
    border: 3px solid green;
    padding: 10px;
}

.titleIcon{
  height: "15px";
  float: right;
  width: auto ;
}

.titleIconSpeaker{
  height: "15px";
  width: 15px ;
  margin-right: 10px;

}

.titleIconCancle{
  font-size:15;
  margin-right: 15px;
  color: #EDF4ED;
}
