<fieldset class="formDiv">
  <legend class="legend">
    Button Field
  </legend>
  <div>
    <button class="btn btn-sm btn-blue-cross fixed " type="submit" style="float:right;" (click)="closeForm()">X</button>
    <form>
      <div class="form-group">
        <label class="label">Name</label>
        <input type="text" class="form-control" placeholder="Enter Button Name" [(ngModel)]="data.name" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Style</label>
        <input type="text" class="form-control" placeholder="Enter style"
        [(ngModel)]="data.styles" name=" ">
      </div>

      <div class="container form-group">
        <h5>Disabled</h5>
        <form class="radio">
          <label class="radio-inline">
            <input type="radio" name="downloadradio" value="ON" [(ngModel)]="data.disabled" checked="checked"> ON
          </label>
          <label class="radio-inline">
            <input type="radio" name="downloadradio" value="OFF" [(ngModel)]="data.disabled">OFF
          </label>
        </form>
      </div>
      <div class="container form-group">
        <h5>Button Type</h5>
        <form class="radio">
          <label class="radio-inline">
            <input type="radio" name="typeradio" value="button" [(ngModel)]="data.btnType" checked="checked"> button
          </label>
          <label class="radio-inline">
              <input type="radio" name="typeradio" value="reset" [(ngModel)]="data.btnType">reset
          </label>
          <label class="radio-inline">
              <input type="radio" name="typeradio" value="submit" [(ngModel)]="data.btnType">submit
          </label>
        </form>
      </div>
    </form>
  </div>
</fieldset>
