<!-- START: Modal for slack-->
{% load staticfiles %}
<div class="modal fade" id="slackModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <img src="{% static 'images/slack_icon.png' %}" style="width:40px;height:40px">
                    <span style="font-size:28px;margin-top:15px!important;">Slack</span>
                </div>
            </div>
            <div class="modal-body">
                <div style="overflow:auto;height:300px;">
                    <div style="width:95%;">
                        <span>Build a conversational bot for Slack.</span>
                        <div>
                            <p>To make your bot public, take the following steps:</p>
                            <div>
                                <ul style="padding-left: 30px;">
                                    <li>Set up a new Slack application via the Slack developer portal.This is a multi-step process, but only takes a few minutes.</li>
                                    <li>Create a new <a href="https://api.slack.com/apps/new" target="_blank">Slack app</a>.</li>
                                    <li>In the Slack app, go to the 'Bot users' section and click the 'Add a Bot User' button.</li>
                                    <li>Enable events in the ‘Event Subscriptions’ section.</li>
                                    <li>Select necessary events in "Subscribe to Bot Events" section for example message.im, message.group, message.channel, im_created. These events will define which message types (direct, in channel, etc.) your bot will
                                        react to. Save changes.</li>
                                    <li>In the Slack app ‘Basic Information’ section, copy the 'Client ID','Client Secret', 'Verification Token' and paste their values into the respective fields below section.</li>
                                    <li>After Setup click 'Add to Slack' button to make integrate slack with Entellio Framework.</li>
                                    <li>Please note that, while enabling events,Request URL will be callback URL mentioned below.
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h4>Slack Auth form</h4>
                    <form action="{% url 'slack_install' botid %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_bot_name">Bot name:</label>
                            <input type="text" class="form-control" name="bot_name" id="id_bot_name" value="{{ slack_form.bot_name.value}}" required />
                            <label for="id_client_id">Client id:</label>
                            <input type="text" class="form-control" name="client_id" id="id_client_id" value="{{ slack_form.client_id.value}}" required />
                            <label for="id_client_secret">Client secret:</label>
                            <input type="text" class="form-control" name="client_secret" id="id_client_secret" value="{{ slack_form.client_secret.value}}" required />
                            <label for="id_verification_code">Verification code:</label>
                            <input type="text" class="form-control" name="verification_code" id="id_verification_code" value="{{ slack_form.verification_code.value}}" required />
                            <label for="id_access_token">Access Token:</label>
                            <input type="text" class="form-control" name="access_token" id="id_access_token" value="{{ slack_form.access_token.value}}" required />
                            <label for="id_request_url">Callback Url: </label>
                            <input disabled type="text" class="form-control" name="request_url" id="id_request_url" value="{{ slack_targetUrl}}" required />

                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" name="submit" type="submit" value="Add to Slack" />
                            <button type="button" class="btn btn-default" style="background-color:#e8e8e8;" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
