{% load staticfiles %}
<!--START: DIV SECTION FOR SLACK-->
<div class="channel">
    <div class="channelChild">
        <center><img src="{% static 'images/slack_icon.png' %}" style="width:70px;height:70px;"></center>
    </div>
    <div class="channelChild">
        <center><strong>Slack</strong></center>
    </div>
    <div class="channelChild">
        <center>
            <label class="switch">
                  <input type="checkbox" class="switch" id="slack_switch" data-channel="slack"/>
                  <div class="slider round"></div>
            </label>
        </center>
    </div>
    <div class="channelChild settings" data-channel-model="slackModal" style="display:block;color:#2196F3;cursor:pointer;">
        <center>Settings</center>
    </div>
</div>
<!--END: DIV SECTION FOR SLACK-->
