<fieldset class="formDiv">
  <legend class="legend">
    Image Field
  </legend>
  <div>
    <button class="btn btn-sm btn-blue-cross fixed " type="submit"
    style="float:right;" (click)="closeForm()">X</button>
    <form>
      <div class="form-group">
        <label class="label">Src</label>
        <input type="text" class="form-control" placeholder="Enter Src of image"
        [(ngModel)]="data.src" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Alt</label>
        <input type="text" class="form-control" placeholder="Enter Alternative of image"
        [(ngModel)]="data.alt" name=" ">
      </div>
      <div class="form-group">
        <label class="label">Style</label>
        <input type="text" class="form-control" placeholder="Enter style"
        [(ngModel)]="data.styles" name=" ">
      </div>
    </form>
  </div>
</fieldset>
