    .btn {
         border: 1px solid transparent;
         border-radius: 3px;
         box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.09) inset;
         font-weight: 500;
    }


    .tinytable td {
        text-align: left !important;
    }



    .widget-header {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        position: relative;
        min-height: 38px;
         background: repeat-x #e33044!important;
         background-image: -webkit-linear-gradient(top,#e33044!important 0,#e33044!important 100%);
        background-image: -o-linear-gradient(top,#e33044!important 0,#e33044!important 100%);
         background-image: linear-gradient(to bottom,#e33044!important 0,#e33044!important 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
        color: #FFF!important;
         border-bottom: 1px solid #DDD;
        padding-left: 12px;
        background-color: #e33044!important;
        border-color: #e33044!important;
    }

    .tinytable th {
        background-color: #e33044!important;
        font-family: OswaldLight, sans-serif;
        text-align: left;
        color: #fff;
        border: 1px solid #fff;
        border-right: none;
    }
    .ui-dialog .ui-dialog-title {

    color: white;

    }