body {
    padding: 10px 15px;
}
.card {
    position: relative;
    display: block;
    overflow: hidden;
    background: #f0f0f0;
    border-radius: 4px;
    box-shadow: 0 1px 3px #aaa;
    text-decoration: none;
}
.card__header {
    padding: 0.5em;
    background: white;
    min-height: 60%;
}
.card__avatar {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0.2em;
}
.card__avatar > img {
/*    width: 70px;
    height: 70px;*/
    background: #f0f0f0;
    padding: 2px;
    border: 1px solid #aaa;
    border-radius: 50%;
    max-width: 80px;
}
.card__id {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0.2em;
    line-height: 1.2;
    text-align: center;
}
.card__name {
    color: #333;
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
    text-decoration: none;
}
.card__actions {
    color: #aaa;
    display: block;
    font-size: 60%;
    font-weight: normal;
    font-style: italic;
}
.card__infos {
    padding: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    color: #777;
    font-size: 60%;
    list-style: none;
}
.card__infos > li {
    padding: 0.5em;
}
.card__infos > li + li {
    border-top: 1px solid #ccc;
}
.lannister .card__actions {
    color: #C8A700;
}
.lannister .card__avatar > img {
    background: #FFD600;
}
.targaryen .card__actions {
    color: #D1371B;
}
.targaryen .card__avatar > img {
    background: #D1371B;
}

.card__actions a {
    margin-left: 6px;
    margin-top: 10px;
    font-size: 18px;
}
